{%extends "base.html"%}
{% block script %}
<link
   type="text/css"
   href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/le-frog/jquery-ui.css"
   rel="Stylesheet" />
{% include "tablesorter_script.html" %}
<script
   type="text/javascript"
   src="/static/jquery.jeditable.mini.js">
</script>
<script
   type="text/javascript"
   src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js">
</script>
<script
   type="text/javascript"
   src="/static/jquery.jeditable.datepicker.js">
</script>
<script type="text/javascript">
$(function() {
  $("#order_list").tablesorter({
    sortList: [[0,0]],
  });
  {% for order in orders %}
  $('.jeditable-amount[name="{{ order.key.integer_id() }}"]').editable(
     "{{ webapp2.uri_for('ActualTotal', order_id=order.key.integer_id()) }}", {
         cancel    : 'Cancel',
         submit    : 'OK',
         indicator : '<img src="/static/ajax-loader.gif">',
         tooltip   : 'Click to edit...',
         cssclass  : 'inherit',
         }
  ).hover(
    function(){$(this).css('background-color', '#FBFFAB')},
    function(){$(this).css('background-color', 'inherit')}
  );
  $('.jeditable-notes[name="{{ order.key.integer_id() }}"]').editable(
     "{{ webapp2.uri_for('ReconciliationNotes', order_id=order.key.integer_id()) }}", {
         cancel    : 'Cancel',
         submit    : 'OK',
         indicator : '<img src="/static/ajax-loader.gif">',
         tooltip   : 'Click to edit...',
         cssclass  : 'inherit',
         }
  ).hover(
    function(){$(this).css('background-color', '#FBFFAB')},
    function(){$(this).css('background-color', 'inherit')}
  );
  $('.jeditable-invoice[name="{{ order.key.integer_id() }}"]').editable(
     "{{ webapp2.uri_for('InvoiceDate', order_id=order.key.integer_id()) }}", {
         type      : 'datepicker',
         cancel    : 'Cancel',
         submit    : 'OK',
         indicator : '<img src="/static/ajax-loader.gif">',
         tooltip   : 'Click to edit...',
         cssclass  : 'inherit',
         }
  ).hover(
    function(){$(this).css('background-color', '#FBFFAB')},
    function(){$(this).css('background-color', 'inherit')}
  );
  $('.jeditable-state[name="{{ order.key.integer_id() }}"]').editable(
     "{{ webapp2.uri_for('State', order_id=order.key.integer_id()) }}", {
         cancel    : 'Cancel',
         submit    : 'OK',
         indicator : '<img src="/static/ajax-loader.gif">',
         tooltip   : 'Click to edit...',
         cssclass  : 'inherit',
         type      : 'select',
         data      : " {'Being Filled': 'Being Filled', 'Reconciled': 'Reconciled', 'selected': '{{ order.state }}'}",
         }
  ).hover(
    function(){$(this).css('background-color', '#FBFFAB')},
    function(){$(this).css('background-color', 'inherit')}
  );
  $('.jeditable-vendor[name="{{ order.key.integer_id() }}"]').editable(
     "{{ webapp2.uri_for('Vendor', order_id=order.key.integer_id()) }}", {
         cancel    : 'Cancel',
         submit    : 'OK',
         indicator : '<img src="/static/ajax-loader.gif">',
         tooltip   : 'Click to edit...',
         cssclass  : 'inherit',
         type      : 'select',
         data      : " { {% for supplier in suppliers %}'{{ supplier.key.integer_id() }}': '{{ supplier.name|e }}', {% endfor %} " +
         " 'selected': '{% if order.vendor %}{{ order.vendor.integer_id() }}{% endif %}'}",
         }
  ).hover(
    function(){$(this).css('background-color', '#FBFFAB')},
    function(){$(this).css('background-color', 'inherit')}
  );
  {% endfor %}
});
</script>
{%endblock%}
{% block breadcrumb %}
 | Reconcile Orders
{% endblock %}
{%block about_this_page %}
<h2>Reconcile Orders
{% if order_sheet %}
({{ order_sheet.name}})
{% endif %}
</h2>
<p>To reconcile an order, click to change any of the <span class="editable">
editable columns</span> and change the status to "Reconciled".


<p>Click <a href="{{ webapp2.uri_for('OrderBySheet', order_sheet=order_sheet.key.integer_id()) }}">here</a>
  to go back to the list of all {{ order_sheet.name }} orders.
{%endblock%}
{%block body%}
<table class="list tablesorter" id="order_list">
  <thead>
    <tr>
      <th>
	Order ID
      </th>
      <th>
	Last Modified
      </th>
      <th>
	$ Estimated Total
      </th>
      <th class="{sorter: 'float'}">
	$ Actual Total
      </th>
      <th>
	Reconciliation comment
      </th>
      <th>
	Invoice Date
      </th>
      <th>
	Vendor
      </th>
      <th>
	Status
      </th>
    </tr>
  </thead>
  <tbody>
    {%for order in orders%}
    <tr>
      <td>
	      <span class="sortorder">{{ order.site.number }}</span>
	      <span class="actions">
	        <a target="_blank"
	           href="{{ webapp2.uri_for('OrderView', id=order.key.integer_id()) }}">
	          Review
	        </a>
	      </span>
	      Site #
	      <a target="_blank"
	         href="{{ webapp2.uri_for('SiteView', id=order.site.integer_id()) }}">
	        {{ order.site.get().number|escape }}
	      </a>
	      Order ID # {{ order.key.integer_id() }}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </td>
      <td>
	      {{ order.modified.strftime("%b %d %Y") }} (by {{ order.last_editor }})
      </td>
      <td class="dollar">
	      {{ "%0.02f" % order.GrandTotal() }}
      </td>
      <td class="editable">
	      <span class="sortorder">{{ order.actual_total }}</span>
	      <div class="jeditable-amount"
	           id="actual_total"
	           name="{{ order.key.integer_id() }}"
	           >{% if order.actual_total != None %}
          {{ "%0.02f" % order.actual_total }}{% endif %}</div>
      </td>
      <td class="editable">
	      <span class="sortorder">{{ order.reconciliation_notes }}</span>
	      <div class="jeditable-notes"
	           id="reconciliation_notes"
	           name="{{ order.key.integer_id() }}"
	           >{{ order.reconciliation_notes }}</div>
      </td>
      <td class="editable">
	      <span class="sortorder">{{ order.invoice_date }}</span>
	      <div class="jeditable-invoice"
	           id="invoice_date"
	           name="{{ order.key.integer_id() }}"
	           >{% if order.invoice_date %}{{ order.invoice_date.strftime("%m/%d/%Y") }}{% endif %}</div>
      </td>
      <td class="editable">
	      <span class="sortorder">{% if order.vendor %}{{ order.vendor.get().name }}{% endif %}</span>
	      <div class="jeditable-vendor"
	           id="vendor"
	           name="{{ order.key.integer_id() }}">{% if order.vendor %}{{ order.vendor.get().name }}{% endif %}</div>
      </td>
      <td class="editable">
	      <span class="sortorder">{{ order.state }}</span>
	      <div class="jeditable-state"
	           id="state"
	           name="{{ order.key.integer_id() }}">{{ order.state }}</div>
      </td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{%endblock%}
