{%extends "base.html"%}
{%block script%}
    <link href="/css/lib/bootstrap-datepicker.css" rel="stylesheet">
    <script type="text/javascript" data-main="/js/app/rooms" src="/js/lib/require.js"></script>
{%endblock%}
{% block breadcrumb %}
  | Make an Order
{% endblock %}
{%block about_this_page %}
<h2>Make an Order</h2>
<p>
  <a id='rooms-form-after-save' href='{{ webapp2.uri_for('SiteView', id=site.key.integer_id()) }}'>Back to Site #{{ site.number }}</a>
  {% if user.staff %}
  |
	<a href="{{ webapp2.uri_for('Order', site_id=order.site.integer_id(), id=order.key.integer_id()) }}">
		Edit Raw Order
	</a>
  {% endif %}
</p>
{% endblock %}
{%block body%}
<div id="order-flow-view">Loading module for creating and changing orders ...</div>
{%endblock%}
