{% include "tablesorter_script.html" %}
<link
   type="text/css"
   href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css"
   rel="Stylesheet" />
<script
   type="text/javascript"
   src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js">
</script>
<script
   type="text/javascript"
   src="/static/jquery.jeditable.mini.js">
</script>
<script type="text/javascript">
var tables = [
  "#orders",
  "#checkrequests",
  "#vendorreceipts",
  "#inkinddonations"
  "#stafftime"
  ];
$(function() {
  {% if user.staff %}
  {% for site in entries %}
  {# can't make this work ... bug is in the uri_for 
  $('.jeditable[name="{{ site.key.integer_id() }}"]').editable(
     "{{ webapp2.uri_for('SiteAnnouncement', site.key.integer_id()) }}", {
         cancel    : 'Cancel',
         submit    : 'OK',
         indicator : '<img src="/static/ajax-loader.gif">',
         tooltip   : 'Staff, Click to edit...',
         cssclass  : 'inherit',
         }
  ).hover(
    function(){ $(this).css('background-color', '#FBFFAB')},
    function(){ $(this).css('background-color', 'inherit')}
  );
  $('.jeditable-text[name="{{ site.key.integer_id() }}"]').editable(
     "{{ webapp2.uri_for('SiteAnnouncement', site.key.integer_id()) }}", {
         type      : 'textarea',
         cancel    : 'Cancel',
         submit    : 'OK',
         indicator : '<img src="/static/ajax-loader.gif">',
         tooltip   : 'Staff, Click to edit...',
         }
  ).css('white-space', 'pre-wrap').hover(
    function(){ $(this).css('background-color', '#FBFFAB')},
    function(){ $(this).css('background-color', 'inherit')}
  );
  #}
  {% endfor %}
  {% endif %}
  $("table.budget a").button();
  for (t in tables) {
    $(tables[t]).tablesorter({
      sortList: [[1,0]]
    });
  }
});
</script>
