{%extends "base.html"%}
{% block script %}
{% include "site_view_script.html" %}
{%endblock%}
{% block breadcrumb %}
{% endblock %}
{%block about_this_page %}
<h2>Here's Site # {{entries[0].number}}</h2>
<p>
  <i>{{ entries[0].program }}</i>
</p>
<a href="{{ webapp2.uri_for('Site', id=entries[0].key.integer_id()) }}">
  Edit Site
</a>
&nbsp;|&nbsp;
<a href="{{ webapp2.uri_for('SiteAttachments', id=entries[0].key.integer_id()) }}">
  Attachments
</a>
&nbsp;|&nbsp;
<a href="{{ webapp2.uri_for('SiteExpenses', id=entries[0].key.integer_id()) }}">
  Expenses
</a>
&nbsp;|&nbsp;
<a href="{{ webapp2.uri_for('SiteSummary', id=entries[0].key.integer_id()) }}">
  Reporting
</a>
{% if user.captain %}
<p>
If you just made an order, please confirm that it's correct and check your budget.  
<br><a href="{{ webapp2.uri_for('CaptainHome') }}">Click here to go back to your Captain's Page</a>.
</p>
{% endif %}
{% endblock %}

{% block body %}
{% include "site_view.html" %}
 {%endblock%}
