{%extends "base.html"%}
{% block script %}
{% include "tablesorter_script.html" %}
<script
   type="text/javascript" 
   src="/static/jquery.jeditable.mini.js">
</script>
<script type="text/javascript">
$(function(){
  $("table.tablesorter").tablesorter({
    sortList: [[0, 0], [1, 1]]
    });
  $("#scope_of_work").editable(
     "{{ webapp2.uri_for("SiteScopeOfWork", id=site.key.integer_id()) }}", {
         cancel    : 'Cancel',
         submit    : 'OK',
         indicator : '<img src="/static/ajax-loader.gif">',
         tooltip   : 'Click to edit...',
         cssclass  : 'inherit',
         type      : 'textarea',
         }
  ).hover(
    function(){$(this).css('background-color', '#FBFFAB')},
    function(){$(this).css('background-color', 'inherit')}
  );
});
</script>
{% endblock %}
{% block breadcrumb %}
  | View Site Expenses
{% endblock %}
{%block about_this_page %}
<h2>
  <a href="{{ webapp2.uri_for("SiteView", id=site.key.integer_id()) }}">
    Site #{{ site.number}}</a>
  Reporting Summary</h2>
<a href="{{ webapp2.uri_for("SiteSummaryCSV", id=site.key.integer_id()) }}">download as CSV</a>
<br/>
{{ site.name }}
<br/>
{{ site.StreetAddress() }}
{% endblock %}
{%block body%}
<p/>
Total Expenses: 
<strong>
  $ {{ "%0.2f" % site.Expenses() }}
</strong>
</p>
<h3>Final Scope of Work</h3>
<div class="panel">
	<div class="padded notes jeditable-text"
	     id="scope_of_work"
	     name="scope_of_work">{{ site.ScopeOfWork }}</div>
</div>

{% set entries = site.Orders %}
{% if entries.Count() %}
<div class="expense">
  <h3 class="total">
    Total: ${{ "%0.2f" % site.OrderTotal() }}
  </h3>
  <h3>Orders</h3>
  <table class="list printable tablesorter" id="order_list">
    <thead>
      <tr>
        <th>
	        Vendor
        </th>
        <th>
	        Form
        </th>
        <th>
	        Invoice Date
        </th>
        <th>
	        $
        </th>
      </tr>
    </thead>
    <tbody>    
      {% for order in entries %}
      {% if order.GrandTotal() != 0 %}
      <tr>
        <td>	
          {% if order.vendor %}
	        {{ order.vendor.get().name }}	
          {% else %}
          <i>Vendor is added when order is reconciled.</i>
          {% endif %}
        </td>
        <td>
          {{ order.order_sheet.get().name|escape }}
        </td>
        <td>
          {% if order.invoice_date %}
	        {{ order.invoice_date.strftime("%b %d %Y") }}	
          {% else %}
          <i>Invoice Date is added when order is reconciled.</i>
          {% endif %}
        </td>
        <td class="dollar">
	        $ {{ "%0.2f" % order.GrandTotal() }}
        </td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
<br/>
<br/>
{% endif %}

{% set entries = site.CheckRequests %}
{% if entries.Count() %}
<div class="expense">
  <h3 class="total">
    Total: ${{ "%0.2f" % site.CheckRequestTotal() }}
  </h3>
  <h3>Check Requests</h3>
  <table class="list printable tablesorter" id="order_list">
    <thead>
      <tr>
        <th>
	        Payable To
        </th>
        <th>
	        Payment Date
        </th>
        <th>
	        Description
        </th>
        <th>
	        $ Total
        </th>
      </tr>
    </thead>
    <tbody>    
      {% for cr in entries %}
      {% if cr.Total() != 0 %}
      <tr>
        <td>	
	        {{ cr.name }}	
        </td>
        <td>
          {% if cr.payment_date %}
	        {{ cr.payment_date.strftime("%b %d %Y") }}
          {% endif %}
        </td>
        <td class="notes">
	        {{ cr.description }}
        </td>
        <td class="dollar">
	        $ {{ "%0.2f" % cr.Total() }}
        </td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
<br/>
<br/>
{% endif %}

{% set entries = site.VendorReceipts %}
{% if entries.Count() %}
<div class="expense">
  <h3 class="total">
    Total: ${{ "%0.2f" % site.VendorReceiptTotal() }}
  </h3>
  <h3>Vendor Receipts</h3>
  <table class="list printable tablesorter" id="order_list">
    <thead>
      <tr>
        <th>
	        Vendor
        </th>
        <th>
	        Purchase Date
        </th>
        <th>
	        Description
        </th>
        <th>
	        $ Total
        </th>
      </tr>
    </thead>
    <tbody>    
      {% for vr in entries %}
      {% if vr.Total() != 0 %}
      <tr>
        <td>	
	        {{ vr.supplier.get().name }}	
        </td>
        <td>
          {% if vr.purchase_date %}
	        {{ vr.purchase_date.strftime("%b %d %Y") }}
          {% endif %}
        </td>
        <td class="notes">
	        {{ vr.description }}
        </td>
        <td class="dollar">
	        $ {{ "%0.2f" % vr.Total() }}
        </td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
<br/>
<br/>
{% endif %}


{% set entries = site.InKindDonations %}
{% if entries.Count() %}
<div class="expense">
  <h3 class="total">
    Total: ${{ "%0.2f" % site.InKindDonationTotal() }}
  </h3>
  <h3>In-kind Donations</h3>
  <table class="list printable tablesorter" id="order_list">
    <thead>
      <tr>
        <th>
	        Donor
        </th>
        <th>
	        $ Labor Amount
        </th>
        <th>
	        $ Materials Amount
        </th>
        <th>
	        Description
        </th>
        <th>
	        $ Total
        </th>
      </tr>
    </thead>
    <tbody>    
      {% for ik in entries %}
      {% if ik.Total() != 0 %}
      <tr>
        <td>	
	        {{ ik.donor }}	
        </td>
        <td>
	        {{ "%0.2f" % ik.labor_amount}}
        </td>
        <td>
	        {{ "%0.2f" % ik.materials_amount}}
        </td>
        <td class="notes">
	        {{ ik.description }}
        </td>
        <td class="dollar">
	        $ {{ "%0.2f" % ik.Total() }}
        </td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
<br/>
<br/>
{% endif %}

{% set by_pos = site.StaffTimesByPosition %}
{% if by_pos %}
<div class="expense">
  <h3 class="total">
    Total: ${{ "%0.2f" % site.StaffTimeTotal() }}
  </h3>
  <h3>Staff Time</h3>
  {% for pos in by_pos %}
  <div class="expense-header">
    <h4 class="total">    
      Hours: {{ "%0.2f" % pos.hours }} 
      <span class="pad"></span>
      Hours Subtotal: ${{ "%0.2f" % pos.hours_subtotal }}
      <span class="pad"></span>
      Miles: {{ "%0.2f" % pos.miles }} 
      <span class="pad"></span>
      Mileage Subtotal: ${{ "%0.2f" % pos.mileage_subtotal }}
    </h4>
    <h4>{{ pos.name }}</h4>
  </div>
  <table class="list printable tablesorter" id="order_list">
    <thead>
      <tr>
        <th>
	        Position
        </th>
        <th>
	        Activity Date
        </th>
        <th>
	        Hours
        </th>
        <th>
	        Miles
        </th>
        <th>
	        $ Total
        </th>
      </tr>
    </thead>
    <tbody>    
      {% for st in pos.stafftimes %}
      {% if st.Total() != 0 %}
      <tr>
        <td>	
	        {{ st.position.get().position_name }}	
        </td>
        <td>	
	        {{ st.activity_date }}	
        </td>
        <td>
	        {{ st.hours }}
        </td>
        <td>
	        {{ st.miles }}
        </td>
        <td class="dollar">
	        $ {{ "%0.2f" % st.Total() }}
        </td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
  {% endfor %}
</div>
<br/>
<br/>
{% endif %}

{%endblock%}
