<table class="site">
  <tbody>
    {% for name, file_and_uris in attachments.items() %}
      <h3> {{ name }} </h3>
      <div class="panel">
        {% if file_and_uris[0] %}
          <b><a href="{{ file_and_uris[0].uri }}"> {{ file_and_uris[0].filename }} </a></b>
          &nbsp;&nbsp;<a href="{{ file_and_uris[2] }}"> remove </a>
          <br>&nbsp;&nbsp;Uploaded by {{ file_and_uris[0].user }} at {{ file_and_uris[0].formatted_time}}<br>

          <form action="{{ file_and_uris[1] }}" method="POST" enctype="multipart/form-data"
                  onsubmit="return confirm('This will replace the existing attachment. Continue?');">
            <input type="file" name="file">
            <input type="submit" name="submit" value="Submit">
          </form>
        {% else %}
          <form action="{{ file_and_uris[1] }}" method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" name="submit" value="Submit">
          </form>
        {% endif %}

      </div>
    {% endfor %}
  </tbody>
</table>
