<table class="site">
  <tbody>
    {% for a in attachments %}

      <h3> {{ a.name }} </h3>
      <div class="panel">

          {% if a.name == "Planned Scope of Work" %}
              <p class="small">This is RTP's rough scope of work recommendation for the Construction Captain.
                            This should be reviewed by the Captain prior to first site visit. Captain is to
                            take this scope and adjust it according to what they can realistically commit to.
                            <br><br>This document will be on ROOMs prior to Captain Kick off.</p>

          {% elif a.name == "Signed Scope of Work" %}
              <p class="small">It's crucial that Captains have their site owners sign-off on the scope of work
                            prior to any work starting. Captains, after you have walked the property
                            and assessed priorities, please write or type out the scope, review it with
                            site owner, and have them sign up top on the scope of work form to show
                            approval. Please leave them a copy and upload a scanned version here. This is
                            RTP's way of confirming everyone is in agreement. Upload your scanned signed
                            scope of work here.
                            <br><br>Due March 26th for 2018 National Rebuilding Day.</p>

          {% elif a.name == "Submitted Scope of Work" %}
              <p class="small">Since signed scopes are usually in a PDF format, we also need a typed out
                          version uploaded. This is important for RTP's reporting purposes.
                          Captains please do your best to also upload a submitted typed scope of
                          work (doc). If only a PDF signed scoped is uploaded, RTP staff will type
                          this info into a submitted scope of work for the Site.
                          <br><br>Also Due March 26th for 2018 National Rebuilding Day.</p>

          {% elif a.name == "Fully Executed Signed Scope of Work" %}
              <p class="small">On National Rebuilding Day (or within a few weeks after), please omplete all
                          "primary tasks" on the scope of work, review the completion with the site
                          owner, and have them sign at the bottom of the scope of work form (feel free
                          to use the exact same document that was signed before work started). Please
                          upload "Fully Executed Signed Scope of Work" here. This is RTP's way of
                          recognizing that the Scope of work is complete and the site owner is in
                          agreement. This is the final document needed.
                          <br><br>Due May 23rd for 2018 National Rebuilding Today.</p>

         {% endif %}



        {% if a.attached_file %}
            <a href="{{ a.attached_file.uri }}" class="move-right-1 small"> {{ a.attached_file.filename }} </a>
          &nbsp;&nbsp;<a href="{{ a.remove_uri }}" class="move-right-1 small"> remove </a>
          <br><p class="move-right-1 small">Uploaded by {{ a.attached_file.user }} on {{ a.attached_file.formatted_time}}</p>
        {% else %}
          <form action="{{ a.upload_uri }}" method="POST" enctype="multipart/form-data" class="small">
            <input type="file" name="file" class="small">
            <input type="submit" name="submit" value="Submit" class="small">
          </form>
        {% endif %}
      </div>
    {% endfor %}
  </tbody>
</table>
