{%extends "base.html"%}
{% block script %}
{% include "datepicker_script.html" %}
<script type="text/javascript">
$(function() {
  $("#id_activity_date").datepicker();
});

$.datepicker.setDefaults({
   showOn: 'both',
   buttonImageOnly: true,
   buttonImage: '/static/calendar.gif',
   buttonText: 'Calendar' });

</script>
{%endblock%}
{% block breadcrumb %}
  | Add Staff Time
{% endblock %}
{%block body%}

<h2>Adding Staff Time for Site {{ entity.site.get().number }}</h2>

<form action="{% url room.views.StaffTimeEdit edit_id %}" method="post">

<table>  
{{form}}
<tr>
  <td>
  </td>
  <td>
    <input type="submit" value="Save changes">
  </td>
</tr>
</table>
</form>

{%endblock%}
