  Programs from the datastore
  <div>
    <a href="#/new"><i class="icon-plus-sign"></i></a>
    <p>
      Currently selected: {{user.program_selected}}
    </p>
    <div ng-repeat="program in programs">
      <button ng-click="select()" ng-disabled="IsSelectedProgram(program)"
          class="btn btn-primary">Select</button>
      <strong>{{program.year}} {{program.name}}</strong>
      {{program.status}}
      <i>&quot;{{program.site_number_prefix}}.....&quot;</i>
      <a href="#/edit/{{program.key}}"><i class="icon-pencil"></i></a>
    </div>
  </div>
</div>
