<div id="welcome-auth-signed-in">
  <div id="welcome-auth-initial">
    Welcome, <strong><%= email %></strong>.
    <p>Checking for your ROOMS account...</p>
  </div>
  <div id="welcome-auth-staff">
    Welcome, <strong><%= email %></strong>.
    <p>You have a Staff account, sending you to the Staff home page.</p>
  </div>
  <div id="welcome-auth-captain">
    Welcome, <strong><%= email %></strong>.
    <p>You are a Captain, sending you to your home page.</p>
  </div>
  <div id="welcome-auth-unknown">
    Welcome, you are signed in as <strong><%= email %></strong>.
    <p>
      This email address is not associated with a ROOMS account.
      If you are an RTP Captain, please contact RTP staff for help setting
      up your account.
    </p>
  </div>
  <p>
    <a href="#" id="signout-button" class="btn btn-primary">
      Sign in with a different account
    </a>
  </p>
</div>
<div id="welcome-auth-sign-in">
  Please sign in with your Google account to use ROOMS.
  <p>
    <a href="#" id="signin-button" class="login_button">Sign In</a>
  </p>
</div>

