{%extends "base.html"%}
{% block script %}
{% include "tablesorter_script.html" %}
<script
   type="text/javascript" 
   src="/static/jquery.jeditable.mini.js">
</script>
<script type="text/javascript">
$(function(){
  $("table.tablesorter").tablesorter({
    });
  {% for entity in entries %}
  $('.jeditable-state[name="{{ entity.key.id }}"]').editable(
     "{% url room.views.SiteExpenseState model_cls_name entity.key.id %}", {
         cancel    : 'Cancel',
         submit    : 'OK',
         indicator : '<img src="/static/ajax-loader.gif">',
         tooltip   : 'Click to edit...',
         cssclass  : 'inherit',
         type      : 'select',
         data      : " { " + 
         {% for state in cls.state.choices %}
         {% ifnotequal state 'new' %}
         " '{{ state }}': '{{state }}', " +
         {% endifnotequal %}
         {% endfor %}
         "'selected': '{{ entity.state }}'}",
         }
  ).hover(
    function(){$(this).css('background-color', '#FBFFAB')},
    function(){$(this).css('background-color', 'inherit')}
  );
  {% endfor %}
});
</script>
{% endblock %}
{% block breadcrumb %}
  | List Check Requests
{% endblock %}
{%block body%}
<h2>All Check Requests</h2>
{{ cls }}
<table cellpadding=5 class="list tablesorter">
  <thead>
    <tr>
      <th>Click to Edit</th>
      <th>Site</th>
      <th>Status</th>
      <th>Captain</th>
      <th>Payable To</th>
      <th>Payment Date</th>
      <th>Amount</th>
      <th>Description</th>
      <th>Business</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    {% for entity in entries %}
    <tr>
      <td>
	<a name="{{ entity.key.id }}"
	   href="{%url room.views.CheckRequestEdit entity.key.id%}">
	  {{entity.key.id|escape}}
	</a>
      </td><td>
	{{ entity.site.number|escape }}
      </td><td class="editable">
	<span class="sortorder">{{ entity.state }}</span>
	<div class="jeditable-state" 
	     id="state"
	     name="{{ entity.key.id }}">{{ entity.state }}</div>
      </td><td>
	{{ entity.captain.name|escape }}
      </td><td>
	{{ entity.name|escape }}
      </td><td>
	{{ entity.payment_date|escape }}
      </td><td>
	{{ entity.Total|escape }}
      </td><td>
	{{ entity.description|escape }}
      </td><td>
	{{ entity.form_of_business|escape }}
      </td><td>
	{{ entity.address|escape }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{%endblock%}
