{%extends "base.html"%}
{% block breadcrumb %}
  | Add or Change an Item
{% endblock %}
{%block body%}

<h2>List Items</h2>

<a href="{% url room.views.ItemList %}">Back to list of items.</a>
<hr/>

<h2>{{ what_you_are_doing }}</h2>

{% if item %}
<div style="float: right; max-width: 400px">
These are the current pictures.  Use the picture upload field on the left to change the picture when you submit this form.
<p>Thumbnail:<br/>
<img src="{% url room.views.ItemThumbnail item.key.id %}">
</p>
<p>Original picture:<br/>
<img src="{% url room.views.ItemPicture item.key.id %}">
</p>
</div>
{% endif %}
{% if item.key.id %}
<form action="{% url room.views.ItemEdit item.key.id %}" 
      enctype="multipart/form-data" method="post">
{% else %}
<form action="{% url room.views.ItemNew %}" 
      enctype="multipart/form-data" method="post">
{% endif %}
<table>
{{form}}
<tr><td><input type="submit" value="Save changes to this item"></td></tr>
</table>
</form>

{%endblock%}
