{%extends "base.html"%}
{% block script %}
{% include "tablesorter_script.html" %}
<script type="text/javascript">
$(document).ready(function(){
  $("#order_list").tablesorter({
    sortList: [[3,0]],
    headers: { 0: { sorter: false }}});
});
</script>
{%endblock%}
{% block breadcrumb %}
 | List all Orders
{% endblock %}
{%block about_this_page %}
<h2>All Orders
{% if order_sheet %}
({{ order_sheet.name}})
{% endif %}
</h2>
<p>To make an order, go to the site 
 (from <a href="{% url room.staff.StaffHome %}">Staff Home</a>)
and use the normal Create New Order links.  There is currently no way to 
delete an order, just talk to Luke if this comes up.
{%endblock%}
{%block body%}
<form method="POST" action="{% url room.order.OrderExport %}">
  To export as CSV, select some orders by checking their boxes and then 
  click "Export".
  <br>
<table class="list tablesorter" id="order_list">
  <thead>
    <tr>
      <th>
	<input type="submit" name="export" value="Export">
      </th>
      <th>
	Order Status
      </th>
      <th>Order Id #
	{% if user.staff %}
	<br>(click to edit)
	{% endif %}
      </th>
      <th>
	Site
      </th>
      <th>
	Form
      </th>
      <th>
	Created
      </th>
      <th>
	Logistics start
      </th>
      <th>
	Logistics end
      </th>
      <th>
	$ Grand Total
      </th>
    </tr>
  </thead>
  <tbody>    
    {%for order in orders%}
    <tr>
      <td>
	<input type="checkbox" class="order_export_checkbox"
	       name="{{ order_export_checkbox_prefix }}{{ order.key.id }}">
      </td>
      <td>
	{{ order.state }}
	{% ifequal order.state 'Received' %}
	- 
	{% if order_sheet %}
	<a href="{% url room.order.OrderFulfill order.key.id order_sheet.key.id %}">
	  Click to fulfill
	</a>
	{% else %}
	<a href="{% url room.order.OrderFulfill order.key.id %}">
	  Click to fulfill
	</a>	
	{% endif %}
	{% endifequal %}
      </td>
      <td>
	<a href="{% url room.order.OrderEdit order.key.id %}">
	  {{ order.key.id }}
	</a>
      </td>
      <td>
	<a href="{% url room.views.SiteView order.site.key.id %}">
	{{ order.site.number|escape }}
	</a>
      </td>
      <td>
	{{ order.order_sheet.name|escape }}
      </td>
      <td>
	{{ order.created|date:"Y/m/d" }}
      </td>
      <td>
	{{ order.LogisticsStart }}
      </td>
      <td>
	{{ order.LogisticsEnd }}
      </td>
      <td>
	{{ order.GrandTotal }}
      </td>
    </tr>
    {%endfor%}
  </tbody>
</table>
</form>
{%endblock%}
