{%extends "base.html"%}
{% block script %}
<link type="text/css" href="/static/south-street/jquery-ui-1.7.2.custom.css" rel="Stylesheet" />
    <script  type="text/javascript" src="/static/room.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
<script type="text/javascript">
$(function() {
  $("#id_pickup_on").datepicker();
  $("#id_delivery_date").datepicker();
});
$.datepicker.setDefaults({
   showOn: 'both',
   buttonImageOnly: true,
   buttonImage: '/static/calendar.gif',
   buttonText: 'Calendar' });
</script>
{%endblock%}
{% block breadcrumb %}
  | Make an Order
{% endblock %}
{%block about_this_page %}
<h2>{{ what_you_are_doing }}</h2>
<p>
{% if user.captain %}
<a href="{% url room.views.CaptainHome %}">Click here to go back to your Captain's Page</a> without saving changes.
</p>
{% endif %}
{% if errors %}
<h3 class="errorlist">Sorry, there were some errors</h3>
<!-- too confusing {{ errors }} -->
<p class="errorlist">
The latest changes have not been saved.  Please look for the reasons in red below and try submitting again.
Contact {{ help_contact }} for help.
</p>
{% endif %}
{% endblock %}
{%block body%}

<form action="{% url room.views.OrderEdit order.key.id %}" method="post">
  <table class="layout">
    <tr>
      <td class="layout">
	<table class="order_form_header">
	  <tr>
	    <td colspan=20 class="order_form_section_header">
	      {{ order.order_sheet.name }} Order Form
	    </td>
	  </tr>
	  <tr>
	    <td colspan=20>
	      <span class="attr">
		<b>
		  Site # 
		  <a href="{% url room.views.SiteList order.site.key.id %}">
		    {{ order.site.number }}
		  </a>
		</b>
	      </span>
	      <span  class="attr">
		Status: {{ order.state }}
	      </span>
	      {% ifnotequal order.state "new" %}
	      <br>
	      <span  class="attr">
		    Submitted
		    {{ order.created|date:"d M" }} 
		    by {{ created_by_user.captain.name }}
		    {% if created_by_user.captain %}
		    ({{ user.captain.sitecaptain_set.get.type }} Captain)
		    {% endif %}
	      </span>
	      {% ifnotequal order.created order.modified %}
	      <span  class="attr">
		    Last Modified
		    {{ order.modified|timesince }} ago
		    {% if modified_by_user.captain %}
		    by {{ modified_by_user.captain.name }}
		    ({{ user.captain.sitecaptain_set.get.type }} Captain)
		    {% endif %}
	      </span>
	      {% endifnotequal %}
	      {% endifnotequal %}
	      <br>
	      <input name="submit" type="submit" 
		       value="{{ submit_button_text }}">
	    </td>
	  </tr>
	  <tr>
	    <td colspan=20 class="order_form_section_header">
	      Delivery
	    </td>
	  </tr>
	  {% ifequal order.order_sheet.delivery_options "Yes" %}	  
	  <tr>
	    <td colspan=2>
	      These items will be delivered directly to the site.
	      
	      {% if user.captain %}
	      <p>If delivery contact and phone are blank we will use your contact info:
	      <br>{{ user.captain.name }}
	      <br>Primary: {{ user.captain.phone1 }}
	      <br>Backup: {{ user.captain.phone2 }}
	      </p>
	      {% endif %}
	    </td>
	  </tr>
	  {% for field in delivery_fields %}
	  <tr>
	    <th>
              {{ field.label_tag }}
	    </th>
	    <td>
	      {{ field.errors }}
              {{ field }}
	      {{ field.help_text }}
	    </td>
	  </tr>
	  {% endfor %}
	  {% else %}
	  <tr>
	    <td colspan=2>
	      No delivery available for these items.
	    </td>
	  </tr>
	  {% endifequal %}
	  <tr>
	    <td colspan=20 class="order_form_section_header">
	      Returns
	    </td>
	  </tr>
	  {% ifequal order.order_sheet.durable "Yes" %}
	  <tr>
	    <td colspan=2>
	      These are durable items and must be returned.  
	      Enter a <b>Pick-up date</b> and <b>Number of days needed</b> so we
	      know when you'll have them.
	    </td>
	  </tr>
	  {% for field in durable_fields %}
	  <tr>
	    <th>
              {{ field.label_tag }}
	    </th>
	    <td>
	      {{ field.errors }}
              {{ field }}
	      {{ field.help_text }}
	    </td>
	  </tr>
	  {% endfor %}
	  {% else %}
	  <tr>
	    <td colspan=2>
	      These items should be consumed on-site.  Any left over material can be dropped off at the RTP warehouse.
	    </td>
	  </tr>
	  {% endifequal %}
	</table>
      </td>
      <td class="layout">
	<table class="order_form_header">
	  {% if order.order_sheet.instructions %}
	  <tr>
	    <td class="order_form_section_header">
	      Instructions from RTP
	    </td>
	  </tr>
	  <tr>
	    <td>
	      {{ order.order_sheet.instructions|linebreaks }}
	    </td>
	  </tr>
	  {% endif %}
	  <tr>
	    <td class="order_form_section_header">
	      Captains' Notes
	    </td>
	  </tr>
	  <tr>
	    <td>
	      {{ notes_field }}
	    </td>
	  </tr>
	</table>
      </td>
    </tr>
  </table>
  <table class="order_item_list">
    {% if order_items %}
    <tr>
      <th>
      </th>
      <th>
	Items
      </th>
      <th>
	$ Unit Cost
      </th>
      <th>
      </th>
      <th>
	Quantity
      </th>
      <th>
	$ Total
      </th>
    </tr>
    {% for order_item in order_items %}
    {% if order_item.first_in_section %}
    <tr>
      <td class="order_form_section_header" colspan=20>
	<b>{{ order_item.item.VisibleOrderFormSection }}</b>
      </td>
    </tr>
    {% endif %}
    <tr>
      <td class=listpic>
	{% if order_item.item.thumbnail %}
	<img src="{% url views.ItemThumbnail order_item.item.key.id %}">
	{% endif %}
      </td>
      <td>
	<b>{{ order_item.item.VisibleName }}</b>
	{% if order_item.item.description %} - {% endif %}
	{{ order_item.item.description }}
      </td>
      <td class="dollar">
	{{ order_item.item.unit_cost|floatformat:2 }}
      </td>
      <td class="measure">
	{{ order_item.item.measure }} x
      </td>
      <td class="quantity">
	<input type="text" name="item_{{ order_item.key }}" 
               value="{{ order_item.VisibleQuantity }}" size=5
	       onChange="updateCost(this.value, 
			 {{ order_item.item.unit_cost }}, 
			 'total_{{ order_item.key }}');">
	=
      </td>
      <td class="dollar">
	<span id="total_{{ order_item.key }}" name="item_total">
	  {{ order_item.VisibleCost }}
	</span>
      </td>
    </tr>
    {%endfor%}
    <tr>
      <td>
      </td>
      <td colspan=4 class="form-summary subtotal">
	Subtotal (does not include {{sales_tax_pct|floatformat:2 }}% sales tax)
      </td>
      <td class="dollar subtotal">
	<span id="sub_total">
	  {{ order.sub_total|floatformat:2 }}
	</span>
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
      </td>
      <td colspan=5 class="form-summary">
	<input name="submit" type="submit" value="{{ submit_button_text }}">
      </td>
    </tr>
    {% else %}
    <tr>
      <td>
      There are no items associated with this order sheet.  We're probably still entering the data about the items.
      </td>
    </tr>
    {% endif %}
  </table>
</form>

{%endblock%}
