<table id="orders_in_progress" class="list tablesorter">	      
  <thead>
  <tr>
    <th>Order</th>
    <th>Logistics</th>
    <th>Status</th>
    <th>Total</th>
  </tr>
  </thead>
  <tbody>
  {% for order in site.VisibleOrders %}
  <tr>
    <td>
      <b>{{ order.order_sheet.name }}</b>
      <br>#{{ order.key.id }}
    </td>
    <td>
      {% for od in order.orderdelivery_set %}
      {{ od.delivery.delivery_date }} (Delivery)
      {% endfor %}
      {% for od in order.orderpickup_set %}
      {{ od.pickup.pickup_date }} (Pickup)
      {% endfor %}
      {% for od in order.orderretrieval_set %}
      {{ od.retrieval.dropoff_date }} (Drop-off)
      {{ od.retrieval.retrieval_date }} (Retrieval)
      {% endfor %}
    </td>
    <td>
      {{ order.state }}
      {% if order.CanMakeChanges %}
      <br>
      <a href="{% url room.order.OrderEdit order.key.id %}">
	make changes
      </a>
      {% if user.staff %}
      -or-
      <a href="{% url room.order.OrderFulfill order.key.id site.key.id %}">
	fulfill
      </a>
      {% endif %}
      {% else %}
      <br>
      <a href="{% url room.order.OrderView order.key.id %}">
	view
      </a>      
      {% endif %}
    </td>
    <td>
      ${{ order.GrandTotal|floatformat:2 }}
    </td>
  </tr>  
  {% endfor %}
  <tr>
    <td>Standard Kits</td>
    <td>???</td>
    <td>Being Filled</td>
    <td>${{ site.StandardKitCost|floatformat:2 }}</td>
  </tr>
  </tbody>
</table>
