{%extends "base.html"%}
{% load humanize %}
{%block breadcrumb%}
{%endblock%}
{%block about_this_page %}
<h1>Scoreboard</h1>

<h3>Summary of activity (excluding ZZZ test sites)</h3>
<p>
  <span class=attr>
    Captains using system: <b>{{ num_captains_active }}</b>
    of {{ num_captains }} total ({{ pct_captains_active|floatformat:1 }}%), 
    with 
    <b>{{ num_captains_with_tshirt }}</b> 
    updating their T-shirt size.
  </span>
</p>
<p>
  <span class=attr>
    Number of Sites in the system: <b>{{ num_sites }}</b>,
    with total budget of <b>${{ total_site_budget|intcomma }}</b>.
  </span>
</p>

{% endblock %}
{%block body%}

<table class="layout">
  <tr>
    <td class="layout">
      <p>
      <b>Recent Captain Logins</b>
      <table>
	<thead>
	  <tr>
	    <th>
	      Last login
	      </th>
	    <th>
	      Captain
	    </th>
	    <th>
	      Total Orders
	    </th>
	  </tr>
	  </thead>
	<tbody>
	{% for welcomee, num_orders in captain_activity %}
	<tr>	  
	  <td>
	    {{ welcomee.last_welcome|timesince }} ago
	  </td>
	  <td>
	    {{ welcomee.name }}
	  </td>
	  <td>
	    {{ num_orders }}
	  </td>
	</tr>
	{% endfor %}
	</tbody>
      </table>
      <hr>
      <b>Recent Staff Logins</b>
      <table>
	<thead>
	  <tr>
	    <th>
	      Last login
	      </th>
	    <th>
	      Staff
	    </th>
	    <th>
	      Total Orders
	    </th>
	  </tr>
	  </thead>
	<tbody>
	{% for welcomee, num_orders in staff_activity %}
	<tr>	  
	  <td>
	    {{ welcomee.last_welcome|timesince }} ago
	  </td>
	  <td>
	    {{ welcomee.name }}
	  </td>
	  <td>
	    {{ num_orders }}
	  </td>
	</tr>
	{% endfor %}
	</tbody>
      </table>
    </td>
    <td class="layout">
      <table class="scoreboard">
	<thead>
	  <tr>
	    <th>
	      Category
	    </th>
	    <th>
	      Submitted all time
	    </th>
	    <th>
	      Submitted 24 hours
	    </th>
	    <th>
	      Total ($)
	    </th>
	    <th>
	      Unique Sites 
	    </th>
	    <th>
	      Unique Users
	    </th>
	    <th>
	      Orders Started
	    </th>
	    <th>
	      Orders Abandoned
	    </th>
	  </tr>
	  </thead>
	<tbody>
	  {% for k in activity %}
	  <tr>
	    <td class="name">
	      <a href="{{ k.1 }}">
	      {{ k.0 }}
	      </a>
	    </td>
	    <td>
	      {{ k.2 }}
	    </td>
	    <td>
	      {{ k.3 }}
	    </td>
	    <td>
	      {{ k.4|floatformat:2|intcomma }}
	    </td>
	    <td>
	      {{ k.5 }}
	    </td>
	    <td>
	      {{ k.6 }}
	    </td>
	    <td>
	      {{ k.7 }}
	    </td>
	    <td>
	      {{ k.8 }}
	    </td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </td>
  </tr>
</table>
{%endblock%}
