{%extends "base.html"%}
{%block body%}
<p>The Standard Kit is a predefined set of painting and cleaning supplies which contains:</p>

<table>
<tbody>
<tr>
<td>
Qty.
</td>
<td>
Measure
</td>
<td>
Item
</td>
</tr>
<tr>
<td>
6
</td>
<td>
Each
</td>
<td>
Bucket (5 quart)
</td>
</tr>
<tr>
<td>
1
</td>
<td>
Roll of 8
</td>
<td>
Garbage bags
</td>
</tr>
<tr>
<td>
1
</td>
<td>
Each
</td>
<td>
Recycling box (collapsible cardboard design)
</td>
</tr>
<tr>
<td>
5
</td>
<td>
Each
</td>
<td>
Recycling bags, clear plastic (for empty drink containers)
</td>
</tr>
<tr>
<td>
6
</td>
<td>
Roll
</td>
<td>
Paper Towels
</td>
</tr>
<tr>
<td>
1
</td>
<td>
Bag of 75
</td>
<td>
Painters rags
</td>
</tr>
<tr>
<td>
1
</td>
<td>
Packet of 12
</td>
<td>
Sponges
</td>
</tr>
<tr>
<td>
10
</td>
<td>
Pair
</td>
<td>
Latex gloves
</td>
</tr>
<tr>
<td>
3
</td>
<td>
Pair
</td>
<td>
Yellow rubber gloves (1 ea S, M, L)
</td>
</tr>
<tr>
<td>
1
</td>
<td>
Bottle
</td>
<td>
Simple Green (24 oz.)
</td>
</tr>
<tr>
<td>
1
</td>
<td>
Bottle
</td>
<td>
Glass Cleaner (12 oz.)
</td>
</tr>
<tr>
<td>
7
</td>
<td>
Each
</td>
<td>
2&quot; angled brush
</td>
</tr>
<tr>
<td>
9
</td>
<td>
Each
</td>
<td>
3&quot; brush
</td>
</tr>
<tr>
<td>
3
</td>
<td>
Each
</td>
<td>
4&quot; brush
</td>
</tr>
<tr>
<td>
4
</td>
<td>
Each
</td>
<td>
Extension pole, 48”
</td>
</tr>
<tr>
<td>
4
</td>
<td>
Each
</td>
<td>
Extension pole, 60” or 72”
</td>
</tr>
<tr>
<td>
8
</td>
<td>
Each
</td>
<td>
Roller handle
</td>
</tr>
<tr>
<td>
8
</td>
<td>
Each
</td>
<td>
Semi-smooth roller cover
</td>
</tr>
<tr>
<td>
4
</td>
<td>
Each
</td>
<td>
Rough roller cover
</td>
</tr>
<tr>
<td>
8
</td>
<td>
Each
</td>
<td>
Paint trays
</td>
</tr>
<tr>
<td>
4
</td>
<td>
Each
</td>
<td>
5 gal. Bucket
</td>
</tr>
<tr>
<td>
6
</td>
<td>
Each
</td>
<td>
Bucket screen (strainer)
</td>
</tr>
<tr>
<td>
2
</td>
<td>
Each
</td>
<td>
Caulk cartridges (Dap Alex -- interior/exterior)
</td>
</tr>
<tr>
<td>
2
</td>
<td>
Each
</td>
<td>
Caulking gun
</td>
</tr>
<tr>
<td>
1
</td>
<td>
Each
</td>
<td>
Bathroom caulk
</td>
</tr>
<tr>
<td>
10
</td>
<td>
Each
</td>
<td>
Drop Cloths, paper or plastic (.5 mil 9' x 12')
</td>
</tr>
<tr>
<td>
15
</td>
<td>
Each
</td>
<td>
Dust Mask
</td>
</tr>
<tr>
<td>
10
</td>
<td>
Each
</td>
<td>
Safety goggles
</td>
</tr>
<tr>
<td>
2
</td>
<td>
Roll
</td>
<td>
1-½”  Masking Tape
</td>
</tr>
<tr>
<td>
10
</td>
<td>
Each
</td>
<td>
Painter cap
</td>
</tr>
<tr>
<td>
5
</td>
<td>
Each
</td>
<td>
1-½” putty knife
</td>
</tr>
<tr>
<td>
1
</td>
<td>
Each
</td>
<td>
Glass scraper and 5 razor blades
</td>
</tr>
<tr>
<td>
5
</td>
<td>
Sheet
</td>
<td>
Sand Paper (medium)
</td>
</tr>
<tr>
<td>
3
</td>
<td>
Can
</td>
<td>
Spackle (8 oz.) interior/exterior
</td>
</tr>
<tr>
<td>
2
</td>
<td>
Each
</td>
<td>
Wire brush
</td>
</tr>
<tr>
<td>
1
</td>
<td>
Roll
</td>
<td>
Painter’s tape, blue or green
</td>
</tr>
<tr>
<td>
8
</td>
<td>
Each
</td>
<td>
Paint paddle
</td>
</tr>
<tr>
<td>
1
</td>
<td>
Each
</td>
<td>
RTP Quality Project lawn sign, w/ step-stake
</td>
</tr>
</tbody>
</table>
{%endblock%}
