<h2>
  Check Request # {{ entity.key.integer_id()}} 
  for Site {{ entity.site.number }}
</h2>
<hr>
<table cellpadding=5><tr>
<tr>
  <td>Click to Edit</td>
  <td>
    <a name="{{ entity.key.integer_id() }}"
       href="{% url room.views.CheckRequestEdit entity.key.integer_id() %}">
      {{entity.key.integer_id()|escape}}
    </a>
  </td>
</tr>
<tr><td>Site</td>
  <td>
    <a href="{% url room.views.SiteView entity.site.key.integer_id() %}">
      {{ entity.site.number|escape }}
    </a>
  </td>
</tr>
<tr>
  <td>
    State
  </td>
  <td>
    {{ entity.state }}
  </td>
</tr>
<tr>
  <td>
    Captain
  </td>
  <td>
    {{ entity.captain.name|escape }}
  </td>
</tr>
<tr>
  <td>
    Labor Amount
  </td>
  <td>
    ${{ "%0.2f" % entity.labor_amount }}
  </td>
</tr>
<tr>
  <td>
    Materials Amount
  </td>
  <td>
    ${{ "%0.2f" % entity.materials_amount }}
  </td>
</tr>
<tr>
  <td>
    Food Amount
  </td>
  <td>
    ${{ "%0.2f" % entity.food_amount }}
  </td>
</tr>
<tr>
  <td>
    Total
  </td>
  <td>
    ${{ "%0.2f" % entity.Total }}
  </td>
</tr>
<tr>
  <td>
    Payment Date
  </td>
  <td>
    {{ entity.payment_date|escape }}
  </td>
</tr>
<tr>
  <td>
    Payable To
  </td>
  <td>
    {{ entity.name|escape }}
  </td>
</tr>
<tr>
  <td>
    Address
  </td>
  <td>
    {{ entity.address|escape|replace('\n', '<br>\n') }}
  </td>
</tr>
<tr>
  <td>
    Business
  </td>
  <td>
    {{ entity.form_of_business|escape }}
  </td>
</tr>
<tr>
  <td>
    Description
  </td>
  <td>
    {{ entity.description|escape|replace('\n', '<br>\n') }}
  </td>
</tr>
<tr>
  <td>
    Last Modified
  </td>
  <td>
    {{ entity.modified }}
  </td>
</tr>
<tr>
  <td>
    Modified By
  </td>
  <td>
    {{ entity.last_editor|escape }}
  </td>
</tr>
</table>
