{%extends "base.html"%}
{% block breadcrumb %}
  | List Check Requests
{% endblock %}
{%block body%}
<h2>All Check Requests</h2>

<table cellpadding=5><tr>
<th>Click to Edit</th>
<th>Site</th>
<th>Captain</th>
<th>Payable To</th>
<th>Amount</th>
<th>Address</th>
<th>Category</th>
<th>Business</th>
<th>Description</th>
</tr>
{% for person in entries %}
<tr><td>
  <a name="{{ person.key.id }}"
     href="{%url room.views.CheckRequestEdit person.key.id%}">{{person.key.id|escape}}</a>
</td><td>
{{ person.site.number|escape }}
</td><td>
{{ person.captain.name|escape }}
</td><td>
{{ person.name|escape }}
</td><td>
{{ person.amount|escape }}
</td><td>
{{ person.address|escape }}
</td><td>
{{ person.category|escape }}
</td><td>
{{ person.form_of_business|escape }}
</td><td>
{{ person.description|escape }}
</td></tr>
{% endfor %}
</table>

{%endblock%}
