{%extends "base.html"%}
{% block breadcrumb %}
  | Make a Check Request
{% endblock %}
{%block body%}

<h2>Adding Check Request for Site {{ entity.site.number }}</h2>

<h3>Note!  The check request cannot be processed without submitting the receipt(s).  Receipts can be submitted in person or by mail, fax, or email.  Please specify your name and the site number when submitting receipts.</h3>

<table cellpadding=5>
<tr>
<td>
<p>
In person:
<b>
<br>841 Kaynyne Street
<br>Redwood City, CA 94063
</b>
</td>
<td>
<p>
Mailing Address: 
<b>
<br>Rebuilding Together Peninsula
<br>P.O. Box 4031
<br>Menlo Park, CA 94026-4031
</b>
</td>
<td>
<p>Fax:  (650) 366-9053   
<br>Phone: (650) 366-6597
</td>
<td>
<p>Email: 
<br>info@RebuildingTogetherPeninsula.org
</td>
</tr>
</table>

<hr>
<form action="{% url room.views.CheckRequestEdit entity.key.id %}" method="post">

<table>  
{{form}}
<tr><td><input type="submit" value="Save changes to this Check Request"></td></tr>
</table>
</form>

{%endblock%}
