<h2>
  In-kind Donation # {{ entity.key.id}} 
  for Site {{ entity.site.number }}
</h2>
<hr>
<table cellpadding=5><tr>
<tr>
  <td>Click to Edit</td>
  <td>
    <a name="{{ entity.key.id }}"
       href="{%url room.views.InKindDonationEdit entity.key.id%}">
      {{entity.key.id|escape}}
    </a>
  </td>
</tr>
<tr><td>Site</td>
  <td>
    <a href="{% url room.views.SiteView entity.site.key.id %}">
      {{ entity.site.number|escape }}
    </a>
  </td>
</tr>
<tr>
  <td>
    Captain
  </td>
  <td>
    {{ entity.captain.name|escape }}
  </td>
</tr>
<tr>
  <td>
    Donor
  </td>
  <td>
    {{ entity.donor|escape }}
  </td>
</tr>
<tr>
  <td>
    Donor Phone
  </td>
  <td>
    {{ entity.donor_phone|escape }}
  </td>
</tr>
<tr>
  <td>
    Donor Info
  </td>
  <td>
    {{ entity.donor_info|escape|linebreaksbr }}
  </td>
</tr>
<tr>
  <td>
    Labor Amount
  </td>
  <td>
    {{ entity.labor_amount|escape }}
  </td>
</tr>
<tr>
  <td>
    Materials Amount
  </td>
  <td>
    {{ entity.materials_amount|escape }}
  </td>
</tr>
<tr>
  <td>
    Description
  </td>
  <td>
    {{ entity.description|escape|linebreaksbr }}
  </td>
</tr>
<tr>
  <td>
    Last Modified
  </td>
  <td>
    {{ entity.modified }}
  </td>
</tr>
<tr>
  <td>
    Modified By
  </td>
  <td>
    {{ entity.last_editor|escape }}
  </td>
</tr>
</table>
