<h2>
  In-kind Donation # {{ entity.key.id}} 
  for Site {{ entity.site.number }}
</h2>
<hr>
<table cellpadding=5><tr>
<tr>
  <td>Click to Edit</td>
  <td>
    <a name="{{ entity.key.id }}"
       href="{%url room.views.InKindDonationEdit entity.key.id%}">
      {{entity.key.id|escape}}
    </a>
  </td>
</tr>
<tr><td>Site</td>
  <td>
    <a href="{% url room.views.SiteView entity.site.key.id %}">
      {{ entity.site.number|escape }}
    </a>
  </td>
</tr>
<tr>
  <td>
    State
  </td>
  <td>
    {{ entity.state }}
  </td>
</tr>
<tr>
  <td>
    Captain
  </td>
  <td>
    {{ entity.captain.name|escape }}
  </td>
</tr>
<tr>
  <td>
    Donation Date
  </td>
  <td>
    {{ entity.donation_date }}
  </td>
</tr>
<tr>
  <td>
    Donor
  </td>
  <td>
    {{ entity.donor|escape }}
  </td>
</tr>
<tr>
  <td>
    Donor Phone
  </td>
  <td>
    {{ entity.donor_phone|escape }}
  </td>
</tr>
<tr>
  <td>
    Donor Info
  </td>
  <td>
    {{ entity.donor_info|escape|replace('\n', '<br>\n') }}
  </td>
</tr>
<tr>
  <td>
    Labor Amount
  </td>
  <td>
    ${{ entity.labor_amount|floatformat:2 }}
  </td>
</tr>
<tr>
  <td>
    Materials Amount
  </td>
  <td>
    ${{ entity.materials_amount|floatformat:2 }}
  </td>
</tr>
<tr>
  <td>
    Total
  </td>
  <td>
    ${{ entity.Total|floatformat:2 }}
  </td>
</tr>
<tr>
  <td>
    Budget
  </td>
  <td>
    {{ entity.budget }}
  </td>
</tr>
<tr>
  <td>
    Description
  </td>
  <td>
    {{ entity.description|escape|replace('\n', '<br>\n') }}
  </td>
</tr>
<tr>
  <td>
    Last Modified
  </td>
  <td>
    {{ entity.modified }}
  </td>
</tr>
<tr>
  <td>
    Modified By
  </td>
  <td>
    {{ entity.last_editor|escape }}
  </td>
</tr>
</table>
