{%extends "base.html"%}
{% block script %}
{% include "tablesorter_script.html" %}
<script type="text/javascript">
$(function(){
  $("table.tablesorter").tablesorter({
    });
});
</script>
{%endblock%}
{% block breadcrumb %}
  | List In-kind Donations
{% endblock %}
{%block body%}
<h2>All In-kind Donations</h2>

<table cellpadding=5 class="list tablesorter">
  <thead>  
    <tr>
      <th>Click to Edit</th>
      <th>Site</th>
      <th>Captain</th>
      <th>Donation Date</th>
      <th>Donor</th>
      <th>Donor Phone</th>
      <th>Labor Amount</th>
      <th>Materials Amount</th>
      <th>Donor Info</th>
      <th>Budget</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {% for entity in entries %}
    <tr><td>
	<a name="{{ entity.key.id }}"
	   href="{%url room.views.InKindDonationEdit entity.key.id%}">
	  {{entity.key.id|escape}}
	</a>
      </td><td>
	{{ entity.site.number|escape }}
      </td><td>
	{{ entity.captain.name|escape }}
      </td><td>
	{{ entity.donation_date|escape }}
      </td><td>
	{{ entity.donor|escape }}
      </td><td>
	{{ entity.donor_phone|escape }}
      </td><td>
	{{ entity.labor_amount|escape }}
      </td><td>
	{{ entity.materials_amount|escape }}
      </td><td>
	{{ entity.donor_info|escape }}
      </td><td>
	{{ entity.budget|escape }}
      </td><td>
	{{ entity.description|escape }}
    </td></tr>
    {% endfor %}
  </tbody>
</table>

{%endblock%}
