{%extends "base.html"%}
{% block script %}
{% include "tablesorter_script.html" %}
<script type="text/javascript">
$(function() {
  $("#order_list").tablesorter({
    sortList: [[6,0]],
    headers: { 0: { sorter: false }}});
  $("#select_all").change(
    function() {
      var newval = $("#select_all").attr('checked');
      $(".order_export_checkbox").attr('checked', newval);
    }
  );
});
</script>
{%endblock%}
{% block breadcrumb %}
 | List all Orders
{% endblock %}
{%block about_this_page %}
<h2>All Orders
{% if order_sheet %}
({{ order_sheet.name}})
{% endif %}
</h2>
<p>To make an order, go to the site 
 (from <a href="{% url room.staff.StaffHome %}">Staff Home</a>)
and use the normal Create New Order links.  There is currently no way to 
delete an order, just talk to Luke if this comes up.
{%endblock%}
{%block body%}
<form method="POST" action="{% url room.order.OrderExport %}">
  To act on many orders at once, check their boxes and then click 
  <input type="submit" name="submit" value="{{ mass_action.export_csv }}">
  or
  <input type="submit" name="submit" value="{{ mass_action.fulfill_many }}">
  {% if order_sheet %}
  <input type="hidden" name="order_sheet_id" value="{{ order_sheet.key.id }}">
  {% endif %}
  <br>
<table class="list tablesorter" id="order_list">
  <thead>
    <tr>
      <th>
	<input type="checkbox" id="select_all">
      </th>
      <th>
	Order Status
      </th>
      <th>
	Site
      </th>
      <th>
	Form
      </th>
      <th>
	$ Grand Total
      </th>
      <th>
	Last Modified
      </th>
      <th>
	Logistics start
      </th>
      <th>
	Logistics end
      </th>
      <th>
	Logistics instructions
      </th>
    </tr>
  </thead>
  <tbody>    
    {%for order in orders%}
    <tr>
      <td>
	<input type="checkbox" class="order_export_checkbox"
	       name="{{ order_export_checkbox_prefix }}{{ order.key.id }}">
      </td>
      <td>
	{{ order.state }}
	{% ifequal order.state 'Received' %}
	- 
	{% if order_sheet %}
	<a href="{% url room.order.OrderFulfill order.key.id order_sheet.key.id %}">
	  Fulfill
	</a>
	{% else %}
	<a href="{% url room.order.OrderFulfill order.key.id %}">
	  Fulfill
	</a>	
	{% endif %}
	{% endifequal %}
	{% ifnotequal order.state 'Deleted' %}
	-
	<a href="{% url room.order.OrderDelete order.key.id order_sheet.key.id %}">
	  Delete
	</a>
	{% endifnotequal %}
	-
	<a href="{% url room.order.OrderEdit order.key.id %}">
	  Edit
	</a>
      </td>
      <td>
	<a href="{% url room.views.SiteView order.site.key.id %}">
	{{ order.site.number|escape }}
	</a>
      </td>
      <td>
	{{ order.order_sheet.name|escape }}
      </td>
      <td>
	{{ order.GrandTotal }}
      </td>
      <td>
	{{ order.modified|date:"m/d/Y" }} (by {{ order.last_editor }})
      </td>
      <td>
	{{ order.LogisticsStart }}
      </td>
      <td>
	{{ order.LogisticsEnd }}
      </td>
      <td>
	{{ order.LogisticsInstructions }}
      </td>
    </tr>
    {%endfor%}
  </tbody>
</table>
</form>
{%endblock%}
