{%extends "base.html"%}
{% block script %}
<link type="text/css" href="/static/south-street/jquery-ui-1.7.2.custom.css" rel="Stylesheet" />
    <script  type="text/javascript" src="/static/room.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
<script type="text/javascript">
$(function() {
  $("#id_pickup_on").datepicker();
  $("#id_date").datepicker();
});
$.datepicker.setDefaults({
   showOn: 'both',
   buttonImageOnly: true,
   buttonImage: '/static/calendar.gif',
   buttonText: 'Calendar' });
</script>
{%endblock%}
{% block breadcrumb %}
 | List all Orders
{% endblock %}
{%block about_this_page %}
<h2>Logistics: {{ order.order_sheet.name }} Order for Site {{ order.site.number }}
</h2>
<p>Please set up the logistics for your order here.  Includes delivery, pickup, or rental options as appropriate.
</p>
{%endblock%}
{%block body%}

<hr>
<p>
<form action="{% url room.order.OrderLogistics order.key.id %}" method="post">

<table>
<tr>
<td></td>
<td>
{% for d in order.site.delivery_set %}
{% if forloop.first %}
Existing logistics dates: 
<table class="hint">
<thead>
<tr>
<th>Type</th>
<th>Name</th>
<th>Date</th>
</tr>
</thead>
<tbody>
{% endif %}
<tr>
<td>Delivery</td>
<td>
  {% for od in d.orderdelivery_set %}
  {{ od.order.order_sheet.name }}
  {% endfor %}
</td>
<td>{{ d.date }}</td>
</tr>
{% if forloop.last %}
</tbody>
</table>
<br>
{% endif %}
{% endfor %}
</td>
</tr>

{{form}}
<tr><td></td>
<td>
  <input name="submit" type="submit" 
	 value="Complete this order and return to site">
  {% if user.staff %}
  <br>
  <input name="submit" type="submit" 
	 value="{{ proceed_to_fulfill }}">
  {% endif %}
</td>
</tr>
</table>
</form>


{%endblock%}
