<table id="orders_in_progress" class="list tablesorter">	      
  <thead>
  <tr>
    <th>Type</th>
    <th>Last change</th>
    <th>Status</th>
    <th>Total</th>
  </tr>
  </thead>
  <tbody>
  {% for order in site.VisibleOrders %}
  <tr>
    <td>
      {{ order.order_sheet.name }}
    </td>
    <td>
      <span name="{{ order.modified }}"></span>
      {{ order.modified|timesince }} ago
      <br>by {{ order.modified_by }}
    </td>
    <td>
      {{ order.state }}
      {% if order.CanMakeChanges %}
      <br>
      <a href="{% url room.order.OrderEdit order.key.id %}">
	make changes
      </a>
      {% if user.staff %}
      -or-
      <a href="{% url room.order.OrderFulfill order.key.id site.key.id %}">
	fulfill
      </a>
      {% endif %}
      {% else %}
      <br>
      <a href="{% url room.order.OrderView order.key.id %}">
	view
      </a>      
      {% endif %}
    </td>
    <td>
      ${{ order.GrandTotal|floatformat:2 }}
    </td>
  </tr>  
  {% endfor %}
  <tr>
    <td>Standard Kits</td>
    <td>by RTP staff</td>
    <td>Being Filled</td>
    <td>${{ site.StandardKitCost|floatformat:2 }}</td>
  </tr>
  </tbody>
</table>
