{%extends "base.html"%}
{% block script %}
<script  type="text/javascript" src="/static/room.js"></script>
{%endblock%}
{% block breadcrumb %}
  | Make an Order
{% endblock %}
{%block about_this_page %}
<h2>{{ what_you_are_doing }}</h2>
<p>
If you don't need to update quantities 
then you go to the next step 
by clicking the
<strong>{{ submit_button_text }}</strong> 
button.
</p>
{% if user.captain %}
<p>
<a href="{% url room.views.CaptainHome %}">Click here to go back to your Captain's Page</a> without saving changes.
</p>
{% endif %}
{% if errors %}
<h3 class="errorlist">Sorry, there were some errors</h3>
<!-- too confusing {{ errors }} -->
{{ errors }}
<p class="errorlist">
The latest changes have not been saved.  Please look for the reasons in red below and try submitting again.
Contact {{ help_contact }} for help.
</p>
{% endif %}
{% endblock %}
{%block body%}

<form action="{% url room.order.OrderEdit order.key.id %}" method="post">
  {% include "order_layout.html" %}
</form>

{%endblock%}
