{%extends "base.html"%}
{% block script %}
{% include "tablesorter_script.html" %}
<script type="text/javascript">
$(function() {
  $("#order_list").tablesorter({
    sortList: [[6,0]],
    headers: { 0: { sorter: false }}});
  $("#select_all").change(
    function() {
      var newval = $("#select_all").attr('checked');
      $(".export_checkbox").attr('checked', newval);
    }
  );
});
</script>
{%endblock%}
{% block breadcrumb %}
 | List all Orders
{% endblock %}
{%block about_this_page %}
<h2>All Orders
{% if order_sheet %}
({{ order_sheet.name}})
{% endif %}
</h2>
<p>To make an order, go to the site 
 (from <a href="{{ webapp2.uri_for('StaffHome') }}">Staff Home</a>)
and use the normal Place Order links.  
{%endblock%}
{%block body%}
{% if entries %}
<form method="POST" action="{{ webapp2.uri_for('OrderExport') }}">
  To act on many orders at once, check their boxes and then click 
  <input type="submit" name="submit" value="{{ mass_action.export_csv }}">
  or
  <input type="submit" name="submit" value="{{ mass_action.fulfill_many }}">
  {% if order_sheet and num_being_filled %}
  <br>Or <a href="{{ webapp2.uri_for('OrderReconcile', next_key=order_sheet.key.urlsafe()) }}">
    reconcile {{ num_being_filled }} orders 
    </a>
  in "Being Filled" status.
  {% endif %}
  <br>
  {% set in_form = 1 %}
  {% include "order_table.html" %}
</form>
{% else %}
<p>No orders available.</p>
{% endif %}
{%endblock%}
