{%extends "base.html"%}
{% block breadcrumb %}
  | Change an Order Form
{% endblock %}
{%block about_this_page %}
<h2>{{ what_you_are_doing }}</h2>
<p>
{% if user.staff %}
<a href="{% url room.staff.StaffHome %}">Click here to go back to Staff Home</a> without saving changes.
</p>
{% endif %}
{% endblock %}
{%block body%}

<p>In order to change which items appear on the order form, it must be done by visiting the <a href="{%url room.views.ItemList%}">list of items</a> and changing each one's "Appears on Order Form".

{% if order_sheet.key.id %}
<form action="{% url room.views.OrderSheetEdit order_sheet.key.id %}" method="post">
{% else %}
<form action="{% url room.views.OrderSheetNew %}" method="post">
  {% endif %}
  
  <table>
    {{ form }}
    <tr>
      <td>
      </td>
      <td>
	<input type="submit" value="Save changes to this Order Form">
      </td>
    </tr>
  </table>
</form>

{%endblock%}
