<table class="list tablesorter" id="order_list">
  <thead>
    <tr>
      {% if in_form %}
      <th>
	<input type="checkbox" id="select_all">
      </th>
      {% endif %}
      <th>
	Order Status
      </th>
      <th>
	Site
      </th>
      <th>
	Form
      </th>
      <th>
	$ Total
      </th>
      <th>
	Last Modified
      </th>
      <th>
	Logistics start
      </th>
      <th>
	Logistics end
      </th>
      <th>
	Logistics instructions
      </th>
    </tr>
  </thead>
  <tbody>    
    {% for order in entries %}
    <tr>
      {% if in_form %}
      <td>
	<input type="checkbox" class="export_checkbox"
	       name="{{ export_checkbox_prefix }}{{ order.key.integer_id() }}">
      </td>
      {% endif %}
      <td>	
	<span class="sortorder">{{ order.state }}</span>
	<span class="actions">
	{% if order.state == 'Received' %}
	{% if order_sheet %}
	<a href="{{ webapp2.uri_for('OrderFulfill', id=order.key.integer_id(), order_sheet_id=order_sheet.key.integer_id()) }}">
	  Fulfill
	</a>
	{% else %}
	<a href="{{ webapp2.uri_for('OrderFulfill', id=order.key.integer_id()) }}">
	  Fulfill
	</a>	
	{% endif %}
	{% endif %}
	{% if order.state != 'Deleted' %}
	-
	{% if order_sheet %}
	<a href="{{ webapp2.uri_for('OrderDelete', id=order.key.integer_id(), order_sheet_id=order_sheet.key.integer_id()) }}">
	    Delete
	</a>
	{% else %}
	<a href="{{ webapp2.uri_for('OrderDelete', id=order.key.integer_id()) }}">
	    Delete
	</a>
	{% endif %}
	{% endif %}
	-
	<a href="{{ webapp2.uri_for('OrderEdit', id=order.key.integer_id()) }}">
	  Edit
	</a>
	</span>
	{{ order.state }}	
      </td>
      <td>
	<span class="sortorder">{{ order.site.get().number }}</span>
	<a href="{{ webapp2.uri_for('SiteView', id=order.site.integer_id()) }}">
	{{ order.site.get().number|escape }}
	</a>
      </td>
      <td>
	{{ order.order_sheet.get().name|escape }}
      </td>
      <td class="dollar">
	{{ "%0.2f" % order.GrandTotal() }}
      </td>
      <td>
        {{ order.modified.strftime("%b %d %Y") }} (by {{ order.last_editor }})	      
      </td>
      <td>
	{{ order.logistics_start }}
      </td>
      <td>
	{{ order.logistics_end }}
      </td>
      <td>
	{{ order.logistics_instructions }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
