{%extends "base.html"%}
{% load humanize %}
{%block breadcrumb%}
{%endblock%}
{% block script %}
<link 
   type="text/css" 
   href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/smoothness/jquery-ui.css" 
   rel="Stylesheet" />
<script 
   type="text/javascript" 
   src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js">
</script>
<script 
   type="text/javascript" 
   src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js">
</script>
<script type="text/javascript">
$(function() {
  $('#tabs').tabs({cache: true});
});
</script>
{%endblock%}
{%block about_this_page %}
<h1>Scoreboard</h1>

<h3>Summary of activity for {{ user.program_selected }}</h3>
<p>
  <span class=attr>
    Number of Sites in the system: <b>{{ num_sites }}</b>,
    with total budget of <b>${{ total_site_budget|intcomma }}</b>.
  </span>
</p>

{% endblock %}
{%block body%}

<div id="tabs">  
  <ul>
    <li><a href="#users">Users</a></li>
    <li><a href="{% url room.scoreboard.ScoreboardOrders %}">
	<span>Orders and Expenses</span>
    </a></li>
    <li><a href="{% url room.scoreboard.ScoreboardCaptains %}">
	<span>Captain Activity</span>
    </a></li>
    <li><a href="{% url room.scoreboard.ScoreboardStaff %}">
	<span>Staff Activity</span>
    </a></li>
  </ul>
  <div id="users">
    <p>
      <span class=attr>
	Captains using system: <b>{{ num_captains_active }}</b>
	of {{ num_captains }} total ({{ pct_captains_active|floatformat:1 }}%), 
	with 
	<b>{{ num_captains_with_tshirt }}</b> 
	updating their T-shirt size.
      </span>
    </p>    
  </div>
</div>

{%endblock%}
