{%extends "base.html"%}
{% block script %}
{% include "tablesorter_script.html" %}
<script
   type="text/javascript" 
   src="/static/jquery.jeditable.mini.js">
</script>
<script type="text/javascript">
$(function(){
  $("table.tablesorter").tablesorter({
    });
});
</script>
{% endblock %}
{% block breadcrumb %}
  | List {{ expense_type }}s
{% endblock %}
{%block about_this_page %}
<h2>{{ which_site}} {{ expense_type }}s</h2>
<p>These are the {{ expense_type }} records for <strong>{{ user.program_selected }}</strong>.
<p>To create a new {{ expense_type }}, start from the Site page <br/>(because every Staff Time must be associated with a Site).
{% endblock %}
{%block body%}
{% include table_template %}

{%endblock%}
