{%extends "base.html"%}
{% block script %}
{% include "tablesorter_script.html" %}
<script
   type="text/javascript" 
   src="/static/jquery.jeditable.mini.js">
</script>
<script type="text/javascript">
$(function(){
  $("table.tablesorter").tablesorter({
    sortList: [[0, 0], [1, 1]]
    });
  $("#scope_of_work").editable(
     "{% url room.views.SiteScopeOfWork site.key.id %}", {
         cancel    : 'Cancel',
         submit    : 'OK',
         indicator : '<img src="/static/ajax-loader.gif">',
         tooltip   : 'Click to edit...',
         cssclass  : 'inherit',
         type      : 'textarea',
         }
  ).hover(
    function(){$(this).css('background-color', '#FBFFAB')},
    function(){$(this).css('background-color', 'inherit')}
  );
});
</script>
{% endblock %}
{% block breadcrumb %}
  | View Site Expenses
{% endblock %}
{%block about_this_page %}
<h2>
  <a href="{% url room.views.SiteView site.key.id %}">
    Site #{{ site.number}}</a>
  Reporting Summary</h2>

{{ site.name }}
<br/>
{{ site.StreetAddress }}
{% endblock %}
{%block body%}
<p/>
Total Expenses: 
<strong>
  $ {{ site.Expenses|floatformat:2 }}
</strong>
</p>
<h3>Final Scope of Work</h3>
<div class="panel">
	<div class="padded notes jeditable-text"
	     id="scope_of_work"
	     name="scope_of_work">{{ site.ScopeOfWork }}</div>
</div>

{% with site.Orders as entries %}
{% if entries.Count %}
<div class="expense">
  <h3 class="total">
    Total: ${{ site.OrderTotal|floatformat:2 }}
  </h3>
  <h3>Orders</h3>
  <table class="list printable tablesorter" id="order_list">
    <thead>
      <tr>
        <th>
	        Vendor
        </th>
        <th>
	        Form
        </th>
        <th>
	        Invoice Date
        </th>
        <th>
	        $
        </th>
      </tr>
    </thead>
    <tbody>    
      {% for order in entries %}
      {% ifnotequal order.GrandTotal 0 %}
      <tr>
        <td>	
          {% if order.vendor %}
	        {{ order.vendor.name }}	
          {% else %}
          <i>Vendor is added when order is reconciled.</i>
          {% endif %}
        </td>
        <td>
          {{ order.order_sheet.name|escape }}
        </td>
        <td>
          {% if order.invoice_date %}
	        {{ order.invoice_date|date:"d M Y" }}	
          {% else %}
          <i>Invoice Date is added when order is reconciled.</i>
          {% endif %}
        </td>
        <td class="dollar">
	        $ {{ order.GrandTotal|floatformat:2 }}
        </td>
      </tr>
      {% endifnotequal %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% endwith %}

{% with site.CheckRequests as entries %}
{% if entries.Count %}
<div class="expense">
  <h3 class="total">
    Total: ${{ site.CheckRequestTotal|floatformat:2 }}
  </h3>
  <h3>Check Requests</h3>
  <table class="list printable tablesorter" id="order_list">
    <thead>
      <tr>
        <th>
	        Payable To
        </th>
        <th>
	        Payment Date
        </th>
        <th>
	        Description
        </th>
        <th>
	        $ Total
        </th>
      </tr>
    </thead>
    <tbody>    
      {% for cr in entries %}
      {% ifnotequal cr.Total 0 %}
      <tr>
        <td>	
	        {{ cr.name }}	
        </td>
        <td>
	        {{ cr.payment_date|date:"d M Y" }}
        </td>
        <td class="notes">
	        {{ cr.description }}
        </td>
        <td class="dollar">
	        $ {{ cr.Total|floatformat:2 }}
        </td>
      </tr>
      {% endifnotequal %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% endwith %}

{% with site.VendorReceipts as entries %}
{% if entries.Count %}
<div class="expense">
  <h3 class="total">
    Total: ${{ site.VendorReceiptTotal|floatformat:2 }}
  </h3>
  <h3>Vendor Receipts</h3>
  <table class="list printable tablesorter" id="order_list">
    <thead>
      <tr>
        <th>
	        Vendor
        </th>
        <th>
	        Purchase Date
        </th>
        <th>
	        Description
        </th>
        <th>
	        $ Total
        </th>
      </tr>
    </thead>
    <tbody>    
      {% for vr in entries %}
      {% ifnotequal vr.Total 0 %}
      <tr>
        <td>	
	        {{ vr.supplier.name }}	
        </td>
        <td>
	        {{ vr.purchase_date|date:"d M Y" }}
        </td>
        <td class="notes">
	        {{ vr.description }}
        </td>
        <td class="dollar">
	        $ {{ vr.Total|floatformat:2 }}
        </td>
      </tr>
      {% endifnotequal %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% endwith %}

{% with site.StaffTimesByPosition as by_pos %}
{% if by_pos %}
<div class="expense">
  <h3 class="total">
    Total: ${{ site.StaffTimeTotal|floatformat:2 }}
  </h3>
  <h3>Staff Time</h3>
  {% for pos in by_pos %}
  <div class="expense-header">
    <h4 class="total">    
      Hours: {{ pos.hours|floatformat:2 }} 
      <span class="pad"></span>
      Hours Subtotal: ${{ pos.hours_subtotal|floatformat:2 }}
      <span class="pad"></span>
      Miles: {{ pos.miles|floatformat:2 }} 
      <span class="pad"></span>
      Mileage Subtotal: ${{ pos.mileage_subtotal|floatformat:2 }}
    </h4>
    <h4>{{ pos.name }}</h4>
  </div>
  <table class="list printable tablesorter" id="order_list">
    <thead>
      <tr>
        <th>
	        Position
        </th>
        <th>
	        Activity Date
        </th>
        <th>
	        Hours
        </th>
        <th>
	        Miles
        </th>
        <th>
	        $ Total
        </th>
      </tr>
    </thead>
    <tbody>    
      {% for st in pos.stafftimes %}
      {% ifnotequal st.Total 0 %}
      <tr>
        <td>	
	        {{ st.position }}	
        </td>
        <td>	
	        {{ st.activity_date }}	
        </td>
        <td>
	        {{ st.hours }}
        </td>
        <td>
	        {{ st.miles }}
        </td>
        <td class="dollar">
	        $ {{ st.Total|floatformat:2 }}
        </td>
      </tr>
      {% endifnotequal %}
      {% endfor %}
    </tbody>
  </table>
  {% endfor %}
</div>
{% endif %}
{% endwith %}

{%endblock%}
