{%extends "base.html"%}
{% block script %}
{% include "tablesorter_script.html" %}
<script
   type="text/javascript" 
   src="/static/jquery.jeditable.mini.js">
</script>
<script type="text/javascript">
$(function(){
  $("table.tablesorter").tablesorter({
    });
});
</script>
{% endblock %}
{% block breadcrumb %}
  | List {{ expense_type }}s
{% endblock %}
{%block about_this_page %}
<h2>{{ which_site}} {{ expense_type }}s</h2>
{% endblock %}
{%block body%}
<p>Change status of a {{ expense_type }} by clicking the value in the Status column.

{% include table_template %}

{%endblock%}
