{% include "tablesorter_script.html" %}
<link
   type="text/css" 
   href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" 
   rel="Stylesheet" />
<script
   type="text/javascript" 
   src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js">
</script>
<script type="text/javascript">
var tables = [
  "#orders",
  "#checkrequests",
  "#vendorreceipts",
  "#inkinddonations"
  ];
$(function() {
  $("table.budget a").button();
  for (t in tables) {
    $(tables[t]).tablesorter({ 
      sortList: [[1,0]]
    });
  }
});
</script>
