{%extends "base.html"%}
{% block script %}
{% include "tablesorter_script.html" %}
<script type="text/javascript">
$(function() {
  $("table.tablesorter").tablesorter({
    sortList: [[1, 0]],
    headers: { 
      0: { sorter: false },
      3: { sorter: 'digit' },
      4: { sorter: 'digit' },
      5: { sorter: 'digit' },
      6: { sorter: 'digit' },
      7: { sorter: 'digit' },
      8: { sorter: 'digit' },
      9: { sorter: 'digit' }
  }});
  $("#select_all").change(
    function() {
      var newval = $("#select_all").attr('checked');
      $(".export_checkbox").attr('checked', newval);
    }
  );
});
</script>
{%endblock%}
{% block breadcrumb %}
  | List Sites
{% endblock %}
{%block about_this_page %}
<h2>
{% if jurisdiction %}
{{ jurisdiction }}
{% else %}
All 
{% endif %}
Sites - Budget View</h2>
<p>
{{ entries|length }} sites, ${{ "%0.2f" % total_expenses }} total expenses.
</p>
{%endblock%}
{%block body%}
{% if  num_entries %}
<form method="POST" action="{{ webapp2.uri_for('SiteBudgetExport') }}">
  To export many sites, check their boxes and then click 
  <input type="submit" name="submit" value="{{ export_csv }}">
<table class="list tablesorter" id="site_list">
  <thead>
    <tr>
      <th>
	<input type="checkbox" id="select_all">
      </th>
      <th>Number 
      <br>
      (click to view)
      </th>
      <th>Name</th>
      <th>Sponsor</th>
      <th>$ Budget</th>
      <th>$ Balance</th>
      <th>$ Total Expenses</th>
      <th>$ Orders</th>
      <th>$ Check Requests</th>
      <th>$ Vendor Receipts</th>
      <th>$ In-Kind Donations</th>
      <th>$ Staff Time</th>
    </tr>
  </thead>
  <tbody>
    {% for site in entries %}
    <tr>
      <td>
	      <input type="checkbox" class="export_checkbox"
	             name="{{ export_checkbox_prefix }}{{ site.key.integer_id() }}">
      </td>
      <td>
	      <span class="sortorder">{{ site.number }}</span>
	      <a href="{{ webapp2.uri_for("SiteView", id=site.key.integer_id()) }}">
	        {{site.number|escape}}
	      </a>
        &nbsp;
	      <a href="{{ webapp2.uri_for("SiteSummary", id=site.key.integer_id()) }}">
          summary
	      </a>
      </td>
      <td>
	      {{ site.name|truncate(20) }}
      </td>
      <td>
	      {{ site.sponsor|truncate(20) }}	 
      </td>
      <td class="dollar">
	      {{ "%0.2f" % site.budget }}
      </td>
      <td class="dollar">
	      <span
	         {% if site.in_the_red %}
	         class="in-the-red dollar"
	         {% else %}
	         class="dollar" 
	         {% endif %}
	         >
	        {{ "%0.2f" % site.BudgetRemaining() }}
	      </span>
      </td>
      <td class="dollar">
	      {{ "%0.2f" % site.Expenses() }}
      </td>
      <td class="dollar">
	      {{ "%0.2f" % site.order_total }}
      </td>
      <td class="dollar">
	      {{ "%0.2f" % site.CheckRequestTotal() }}
      </td>
      <td class="dollar">
	      {{ "%0.2f" % site.VendorReceiptTotal() }}
      </td>
      <td class="dollar">
	      {{ "%0.2f" % site.InKindDonationTotal() }}
      </td>
      <td class="dollar">
	      {{ "%0.2f" % site.StaffTimeTotal() }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</form>
{% else %}
<p>
No sites for
{% if jurisdiction %}
jurisdiction {{ jurisdiction }}
{% endif %}
in program {{ program }}.
</p>
<p>
  Please go back to <a href="{{ webapp2.uri_for('StaffHome') }}">Staff Home</a> 
  and select a different program or jurisdiction.
</p>
{% endif %}
{%endblock%}
