<table class="site"> 
  <tbody>
  {% for site in entries %}
  <tr> 
    <td>
      <span class=big>
	<a name="site_{{ site.number }}"></a>
	{{ site.name }}
      </span>
      <br>Site #{{ site.number }}
      <br>{{ site.StreetAddress }}
      {% if site.applicant %}
      {% ifnotequal site.applicant site.name %}
      <p>
      <i>Applicant's main contact</i>
      <br><strong>{{ site.applicant }}</strong>
      {% endifnotequal %}
      {% if site.applicant_home_phone %}
      <br>{{ site.applicant_home_phone }} <i>home</i> 
      {% endif %}
      {% if site.applicant_work_phone %}
      <br>{{ site.applicant_work_phone }} <i>work</i> 
      {% endif %}
      {% if site.applicant_mobile_phone %}
      <br>{{ site.applicant_mobile_phone }} <i>mobile</i> 
      {% endif %}
      {% endif %}
      </p>

      {% if site.sponsor %}
      <p><i>Sponsored by:</i>
      <br><strong>{{ site.sponsor }}</strong>
      </p>
      {% endif %}

      {% if not site.sitecaptain_set %}
      <p>
	No captains assigned yet!
      </p>
      {% else %}
      {% for sitecaptain in site.sitecaptain_set %}
      <p> 
	<strong>{{ sitecaptain.captain.name }}</strong>
	<br>{{ sitecaptain.type }} Captain
	{% if site_list_detail %}
	<br>
	<a href="mailto:{{ sitecaptain.captain.email }}">
	  {{ sitecaptain.captain.email }}
	</a>
	{% if sitecaptain.captain.phone1 %}
	<br>primary: {{ sitecaptain.captain.phone1 }}
	{% endif %}
	{% if sitecaptain.captain.phone2 %}
	<br>secondary: {{ sitecaptain.captain.phone2 }}
	{% endif %}
	{% endif %}
      </p>
      {% endfor %}
      {% endif %}
    </td>
    <td>
      <div class="big jeditable" 
	   id="announcement_subject" 
	   name="{{ site.key.id }}">{{ site.announcement_subject }}</div>
      <div class="panel">
	<div class="padded">
	<span class="jeditable-text"
	      id="announcement_body"
	      name="{{ site.key.id }}">{{ site.announcement_body }}</span>	
	</div>
      </div>
      {% if site_list_detail %}
      <p>{{ site.StreetAddress }}
      <a href="http://maps.google.com/maps?f=q&q={{ site.StreetAddress }}&ie=UTF8&z=14" target="_blank"> 
	<img src="http://maps.google.com/maps/api/staticmap?center={{ site.StreetAddress }}&markers=size:mid|color:red|{{ site.StreetAddress }}&zoom=11&size={{ map_width }}x{{ map_height }}&sensor=false&key=ABQIAAAAocapnBGvqx6JkB2K9HNychQhv5EN3SOvE9MJZZkkyl7jkpoomxR8v4PeXRpH7B7kzknEvwpb_hu-Jg" alt="map of {{ site.StreetAddress }}" width="{{ map_width }}" height="{{ map_height }}"> 
	<br>(click to view on Google Maps)
      </a>
      </p>
      {% if site.notes %}
      <strong>Notes:</strong>
      <p>
	{{ site.notes }}
      </p>
      {% endif %}
      {% else %}     
      {{ site.street }}	
      <br>{{ site.city }}
      {% endif %}
    </td>
    <td>
      <span class="big">
	{{ site.BudgetStatement }} 
      </span>
      <div class="panel">
      <table class="budget">
	<tbody>
	  <tr>
	    <td class="budget">
	      <strong>Starting Budget</strong>
	    </td>
	    <td class="value">
	    ${{ site.budget|floatformat:2 }}
	    </td>
	    <td>
	    </td>
	    <td>
	    </td>
	  </tr>
	  <tr>
	    <td>
	      <strong>Orders</strong>
	      <br>
	      <span class="budget-item-note">
		materials and services ordered through ROOMS
	      </span>
	    </td>
	    <td class="value">
	      {% if site.OrderTotal %}
	      (${{ site.OrderTotal|floatformat:2 }})
	      {% else %}
	      -
	      {% endif %}
	    </td>
	    <td class="action">
	      <a href="{% url room.order.OrderPreview site.key.id %}">
	      Place an Order 
	      </a>
	    </td>
	    <td class="action">
	      {% if site.Orders.Count %}
	      <a href="#order_panel">
		Review 
	      </a>
	      {% endif %}
	    </td>
	  </tr>
	  <tr>
	    <td>
	      <strong>Check Requests</strong>
	      <br>
	      <span class="budget-item-note">
		reimbursement for other expenses
	      </span>
	    </td>
	    <td class="value">
	      {% if site.CheckRequests.Count %}
	      (${{ site.CheckRequestTotal|floatformat:2 }})
	      {% else %}
	      -
	      {% endif %}
	    </td>
	    <td class="action">
	      <a href="{% url room.views.CheckRequestNew site.key.id %}">
		Submit a Request
	      </a>
	    </td>
	    <td class="action">
	      {% if site.CheckRequests.Count %}
	      <a href="#checkrequests_panel">
		Review 
	      </a>
	      {% endif %}
	    </td>
	  </tr>
	  <tr>
	    <td>
	      <strong>Vendor Receipts</strong>
	      <br>
	      <span class="budget-item-note">
		purchases from vendors on RTP account
	      </span>
	    </td>
	    <td class="value">
	      {% if site.VendorReceipts.Count %}
	      (${{ site.VendorReceiptTotal|floatformat:2 }})
	      {% else %}
	      -
	      {% endif %}
	    </td>
	    <td class="action">
	      <a href="{% url room.views.VendorReceiptNew site.key.id %}">
		Add a Receipt
	      </a>
	    </td>
	    <td class="action">
	      {% if site.VendorReceipts.Count %}
	      <a href="#vendorreceipts_panel">
		Review 
	      </a>
	      {% endif %}
	    </td>
	  </tr>
	  <tr>
	    <td class="budget">
	      <strong>Unspent Budget</strong>
	    </td>
	    <td class="value">
	      ${{ site.BudgetRemaining|floatformat:2 }} 
	    </td>
	    <td>	      
	    </td>
	    <td>
	    </td>
	  </tr>
	  <tr class="inkinddonation">
	    <td>
	      <strong>In-kind Donations</strong>
	      <br>
	      <span class="budget-item-note">
		not included in budgeting
	      </span>
	    </td>
	    <td class="value">
	      {% if site.InKindDonations.Count %}
	      ${{ site.InKindDonationTotal|floatformat:2 }}
	      {% else %}
	      -
	      {% endif %}
	    </td>
	    <td class="action">
	      <a href="{% url room.views.InKindDonationNew site.key.id %}">
		Add a Donation
	      </a>
	    </td>
	    <td class="action">
	      {% if site.InKindDonations.Count %}
	      <a href="#inkinddonations_panel">
		Review 
	      </a>
	      {% endif %}
	    </td>
	  </tr>
	</tbody>
      </table>
      </div>
      {% if site.Orders.Count %}
      <a name="order_panel"></a>
      <div class="panel">
      <h3>Orders in progress</h3>
      <table id="orders" class="list tablesorter">	      
	<thead>
	  <tr>
	    <th>Order</th>
	    <th>Logistics</th>
	    <th>Status</th>
	    <th>Total</th>
	  </tr>
	</thead>
	<tbody>
	  {% for order in site.Orders.Items %}
	  <tr>
	    <td>
	      <b>{{ order.order_sheet.name }}</b>
	    </td>
	    <td>
	      {% for od in order.orderdelivery_set %}
	      {{ od.delivery.delivery_date }} (Delivery)
	      {% endfor %}
	      {% for od in order.orderpickup_set %}
	      {{ od.pickup.pickup_date }} (Pickup)
	      {% endfor %}
	      {% for od in order.orderretrieval_set %}
	      {{ od.retrieval.dropoff_date }} (Drop-off)
	      <br/>
	      {{ od.retrieval.retrieval_date }} (Retrieval)
	      {% endfor %}
	    </td>
	    <td>
	      {{ order.state }}
	      {% if order.CanMakeChanges %}
	      <br>
	      <a href="{% url room.order.OrderEdit order.key.id %}">
		make changes
	      </a>
	      {% if user.staff %}
	      or
	      <a href="{% url room.order.OrderFulfill order.key.id site.key.id %}">
		fulfill
	      </a>
	      {% endif %}
	      {% else %}
	      <br>
	      <a href="{% url room.order.OrderView order.key.id %}">
		view
	      </a>      
	      {% endif %}
	    </td>
	    <td>
	      ${{ order.GrandTotal|floatformat:2 }}
	    </td>
	  </tr>  
	  {% endfor %}
	</tbody>
      </table>
      </div>
      {% endif %}

      {% if site.CheckRequests.Count %}
      <a name="checkrequests_panel"></a>
      <div class="panel">
	<h3>Check Requests</h3>
	<table id="checkrequests" class="list tablesorter">
	  {% for entity in site.CheckRequests.Items %}
	  {% if forloop.first %}
	  <thead>
	    <tr>
	      <th>Captain</th>
	      <th>Payable To</th>
	      <th>Amount</th>
	      <th>Status</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% endif %}
	    <tr>
	      <td>
		{{ entity.captain.name|escape }}
	      </td>
	      <td>
		{{ entity.name|escape }}
	      </td>
	      <td>
		{{ entity.Total|escape }}
	      </td>
	      <td>
		<a name="{{ entity.key.id }}"
		   href="{%url room.views.CheckRequestView entity.key.id%}">
		  view</a>
		{% if user.staff %}
		<span> or </span>
		<a name="{{ entity.key.id }}"
		   href="{%url room.views.CheckRequestEdit entity.key.id%}">
		  edit
		</a>
		{% endif %}
	      </td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </div>
      {% endif %}
      
      {% if site.VendorReceipts.Count %}
      <a name="vendorreceipts_panel"></a>
      <div class="panel">
	<h3>Vendor Receipts</h3>
	<table id="vendorreceipts" class="list tablesorter">
	  {% for entity in site.VendorReceipts.Items %}
	  {% if forloop.first %}
	  <thead>
	    <tr>
	      <th>Captain</th>
	      <th>Vendor</th>
	      <th>Amount</th>
	      <th>Status</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% endif %}
	    <tr>
	      <td>
		{{ entity.captain.name|escape }}
	      </td>
	      <td>
		{{ entity.vendor|escape }}
	      </td>
	      <td>
		{{ entity.amount|escape }}
	      </td>
	      <td>
		<a name="{{ entity.key.id }}"
		   href="{%url room.views.VendorReceiptView entity.key.id%}">
		  view</a>
		{% if user.staff %}
		<span> or </span>
		<a name="{{ entity.key.id }}"
		   href="{%url room.views.VendorReceiptEdit entity.key.id%}">
		  edit
		</a>
		{% endif %}
	      </td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </div>
	{% endif %}

      {% if site.InKindDonations.Count %}
      <a name="inkinddonations_panel"></a>
      <div class="panel">
	<h3>In-kind Donations</h3>
	<table id="inkinddonations" class="list tablesorter">
	  {% for entity in site.InKindDonations.Items %}
	  {% if forloop.first %}
	  <thead>
	    <tr>
	      <th>Captain</th>
	      <th>Donor</th>
	      <th>Amount</th>
	      <th>Status</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% endif %}
	    <tr>
	      <td>
		{{ entity.captain.name|escape }}
	      </td>
	      <td>
		{{ entity.donor|escape }}
	      </td>
	      <td>
		{{ entity.Total|escape }}
	      </td>
	      <td>
		<a name="{{ entity.key.id }}"
		   href="{%url room.views.InKindDonationView entity.key.id%}">
		  view
		</a>
		{% if user.staff %}
		<span> or </span>
		<a name="{{ entity.key.id }}"
		   href="{%url room.views.InKindDonationEdit entity.key.id%}">
		  edit
		</a>
		{% endif %}
	      </td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
	{% endif %}

      </div>
    </td>
  </tr>
  <tr>
    <td colspan=10>
      <hr>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table> 
