{%extends "base.html"%}
{% block script %}
{% include "tablesorter_script.html" %}
<script
   type="text/javascript" 
   src="/static/jquery.jeditable.mini.js">
</script>
<script type="text/javascript">
$(function(){
  $("table.tablesorter").tablesorter({
    sortList: [[0, 0], [1, 1]]
    });
  $("#scope_of_work").editable(
     "{% url room.views.SiteScopeOfWork site.key.id %}", {
         cancel    : 'Cancel',
         submit    : 'OK',
         indicator : '<img src="/static/ajax-loader.gif">',
         tooltip   : 'Click to edit...',
         cssclass  : 'inherit',
         type      : 'textarea',
         }
  ).hover(
    function(){$(this).css('background-color', '#FBFFAB')},
    function(){$(this).css('background-color', 'inherit')}
  );
});
</script>
{% endblock %}
{% block breadcrumb %}
  | View Site Expenses
{% endblock %}
{%block about_this_page %}
<h2>
  <a href="{% url room.views.SiteView site.key.id %}">
    Site #{{ site.number}}</a>
  Reporting Summary</h2>

{{ site.name }}
<br/>
{{ site.StreetAddress }}
{% endblock %}
{%block body%}
<p/>
Total Expenses: 
<strong>
  $ {{ site.Expenses }}
</strong>
</p>
<h3>Final Scope of Work</h3>
<div class="panel">
	<div class="padded notes jeditable-text"
	     id="scope_of_work"
	     name="scope_of_work">{{ site.ScopeOfWork }}</div>
</div>

{% with site.Orders as entries %}
{% if entries.Count %}
<h3>Orders</h3>
<table class="list printable tablesorter" id="order_list">
  <thead>
    <tr>
      <th>
	      Vendor
      </th>
      <th>
	      Invoice Date
      </th>
      <th>
	      $ Total
      </th>
    </tr>
  </thead>
  <tbody>    
    {% for order in entries %}
    {% ifnotequal order.GrandTotal 0 %}
    <tr>
      <td>	
        {% if order.vendor %}
	      {{ order.vendor.name }}	
        {% else %}
        <i>Vendor is added when order is reconciled.</i>
        {% endif %}
      </td>
      <td>
        {% if order.invoice_date %}
	      {{ order.invoice_date|date:"d M Y" }}	
        {% else %}
        <i>Invoice Date is added when order is reconciled.</i>
        {% endif %}
      </td>
      <td class="dollar">
	      $ {{ order.GrandTotal|floatformat:2 }}
      </td>
    </tr>
    {% endifnotequal %}
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endwith %}

{% with site.CheckRequests as entries %}
{% if entries.Count %}
<h3>Check Requests</h3>
<table class="list printable tablesorter" id="order_list">
  <thead>
    <tr>
      <th>
	      Payable To
      </th>
      <th>
	      Payment Date
      </th>
      <th>
	      $ Total
      </th>
    </tr>
  </thead>
  <tbody>    
    {% for cr in entries %}
    {% ifnotequal cr.Total 0 %}
    <tr>
      <td>	
	      {{ cr.name }}	
      </td>
      <td>
	      {{ cr.payment_date|date:"d M Y" }}
      </td>
      <td class="dollar">
	      $ {{ cr.Total|floatformat:2 }}
      </td>
    </tr>
    {% endifnotequal %}
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endwith %}

{% with site.VendorReceipts as entries %}
{% if entries.Count %}
<h3>Vendor Receipts</h3>
<table class="list printable tablesorter" id="order_list">
  <thead>
    <tr>
      <th>
	      Vendor
      </th>
      <th>
	      Purchase Date
      </th>
      <th>
	      $ Total
      </th>
    </tr>
  </thead>
  <tbody>    
    {% for vr in entries %}
    {% ifnotequal vr.Total 0 %}
    <tr>
      <td>	
	      {{ vr.supplier.name }}	
      </td>
      <td>
	      {{ vr.purchase_date|date:"d M Y" }}
      </td>
      <td class="dollar">
	      $ {{ vr.Total|floatformat:2 }}
      </td>
    </tr>
    {% endifnotequal %}
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endwith %}

{%endblock%}
