{%extends "base.html"%}
{% block script %}
<link type="text/css" href="/static/tablesorter/themes/blue/style.css" rel="Stylesheet" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/tablesorter/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $("#orders_in_progress").tablesorter({ 
    sortList: [[1,0]]
  });
});
</script>
{%endblock%}
{% block breadcrumb %}
  | View a Site
{% endblock %}
{%block about_this_page %}
<h2>Here's site # {{ entries.0.number }}</h2>
<a name="{{ site.number }}" href="{% url room.views.SiteEdit entries.0.key.id %}">
  Edit Site Info
</a>

{% if user.captain %}
<p>
If you just made an order, please confirm that it's correct and check your budget.  
<br><a href="{% url room.views.CaptainHome %}">Click here to go back to your Captain's Page</a>.
</p>
{% endif %}
{% endblock %}

{% block body %}
{% include "site_list.html" %}
 {%endblock%}
