<table class="site"> 
  <tbody>
  {% for site in entries %}
  <tr> 
    <td>
      Site # 
      <br>
      <span class=big> 
      {{ site.number }}
      </span>
      <br>
      {% if site_list_detail %}
      {% if user.staff %}
      <a name="{{ site.number }}" href="{% url room.views.SiteEdit site.key.id %}">
	Edit site info
      </a>
      {% endif %}
      {% else %}
      <a name="{{ site.number }}" href="{% url room.views.SiteList site.key.id %}">
	View site info and orders
      </a>
      {% endif %}
    </td>
    <td>
      {% if site_list_detail %}
      <b>Location</b>
      <p>
	{{ site.StreetAddress }}
      </p>
      <a href="http://maps.google.com/maps?f=q&q={{ site.StreetAddress }}&ie=UTF8&z=14" target="_blank"> 
	<img src="http://maps.google.com/maps/api/staticmap?center={{ site.StreetAddress }}&markers=size:mid|color:red|{{ site.StreetAddress }}&zoom=11&size={{ map_width }}x{{ map_height }}&sensor=false&key=ABQIAAAAocapnBGvqx6JkB2K9HNychQhv5EN3SOvE9MJZZkkyl7jkpoomxR8v4PeXRpH7B7kzknEvwpb_hu-Jg" alt="map of {{ site.StreetAddress }}" width="{{ map_width }}" height="{{ map_height }}"> 
	<br>(click to view on Google Maps)
      </a>
      {% else %}     
      {{ site.street }}	
      <br>{{ site.city }}
      {% endif %}
    </td>
    <td>
      <b>Recipient</b>
      <p>
	{{ site.name }}
      </p>
      {% ifnotequal site.applicant site.name %}
      <p> 
	Contact: 
	<br>{{ site.applicant }}
	{% endifnotequal %}
      </p>
    </td>
    <td> 
      <b>Captains</b>
      {% if not site.sitecaptain_set %}
      <p>No captains assigned yet!</p>
      {% else %}
      {% for sitecaptain in site.sitecaptain_set %}
      <p> 
	{{ sitecaptain.captain.name }}
	({{ sitecaptain.type }})
	{% if site_list_detail %}
	<br>{{ sitecaptain.captain.email }}      
	<br>primary: {{ sitecaptain.captain.phone1 }}
	<br>secondary: {{ sitecaptain.captain.phone2 }}
	{% endif %}
      </p>
      {% endfor %}
      {% endif %}
    </td>
    <td>
      <b>Dollars</b>
      <table>
	<tr>
	  <td>
	    Budget
	  </td>
	  <td>
	    ${{ site.budget|floatformat:2 }}
	  </td>
	</tr>
	<tr>
	  <td>
	    ROOM Orders
	  </td>
	  <td>
	    (${{ site.OrderTotal|floatformat:2 }})
	  </td>
	</tr>
	<tr>
	  <td>
	    Check Requests
	  </td>
	  <td>
	    (${{ site.CheckRequestTotal|floatformat:2 }})
	  </td>
	</tr>
	<tr>
	  <td>
	  </td>
	  <td>
	    <hr>
	  </td>
	</tr>	    
	<tr>
	  <td>
	    Remaining
	  </td>
	  <td>
	    ${{ site.BudgetRemaining|floatformat:2 }} 
	  </td>
	</tr>
	<tr>
	  <td colspan=2>
	    <a href="{% url room.views.CheckRequestNew site.key.id %}">
	      Click here to make a Check Request</a>
	    to be reimbursed for other expenses.
	  </td>
	</tr>
	</table>
      </p>
    </td>
    <td class="notes"> 
      {{ site.notes }}
    </td>
  </tr>
  {% if site_list_detail %}
  <tr>
    <td></td>
    <td colspan=4>
      <table class=order_form_header>
	<tr>
	  <td class="order_form_section_header">
	    Create New Order
	  </td>
	  <td colspan=20 class="order_form_section_header">
	    Orders in progress
	  </td>
	</tr>
	<tr>
	  <td>
	    <p>
	      To create a new order, select an order sheet from the list below.
	    </p>
	    <ul>
	      {% for sheet in order_sheets %}
	      <li>
		<a id="sheet.code"
		   href="{% url room.order.OrderNew site.key.id sheet.code %}">
		  {{ sheet.name }}
		</a>
	      </li>
	      {% endfor %}
	    </ul>
	  </td>
	  <td>
	    {% include "orders_in_progress.html" %}
	    {% if site.checkrequest_set %}
	    <br>	    
	    <span class="order_form_section_header">
	      Check Requests
	    </span>
	    <table class="list tablesorter">
	      <tr>
		<th>Captain</th>
		<th>Payable To</th>
		<th>Amount</th>
		<th>Status</th>
	      </tr>
	      {% for check_request in site.checkrequest_set %}
	      <tr><td>
		  {{ check_request.captain.name|escape }}
		</td><td>
		  {{ check_request.name|escape }}
		</td><td>
		  {{ check_request.amount|escape }}
		</td><td>
		  <a name="{{ check_request.key.id }}"
		     href="{%url room.views.CheckRequestView check_request.key.id%}">
		    view
		  </a>
	      </td></tr>
	      {% endfor %}
	    </table>
	    {% endif %}
	  </td>
	</tr>
      </table>
    </td>
  </tr>
  {% endif %}
  {% endfor %}
  </tbody>
</table> 
