<table cellpadding=5 class="list tablesorter">
  <thead>
    <tr>
      <th>Click to Edit</th>
      <th>Site</th>
      <th>Staff Position</th>
      <th>Hours</th>
      <th>Miles</th>
      <th>Total</th>
      <th>Activity Date</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {% for entity in entries %}
    <tr>
      <td>
	<a name="{{ entity.key.id }}"
	   href="{%url room.views.StaffTimeEdit entity.key.id%}">
	  {{entity.key.id|escape}}
	</a>
      </td><td>
	<span class="sortorder">{{ entity.site.number }}</span>
	<a href="{% url room.views.SiteView entity.site.key.id %}">
	{{ entity.site.number|escape }}
	</a>
      </td><td>
	{{ entity.position|escape }}
      </td><td>
	{{ "%0.2f" % entity.hours }}
      </td>
      </td><td>
	{{ "%0.2f" % entity.miles }}
      </td>
      <td class="dollar">
	${{ "%0.2f" % entity.Total }}
      </td><td>
	{{ entity.activity_date|escape }}
      </td><td>
	{{ entity.description|escape }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
