{%extends "base.html"%}
{%block breadcrumb%}
{%endblock%}
{%block script%}
<script type="text/javascript">
function SetOrderListAction(f) {
var order_sheet = f.getElementsByClassName("order_sheet")[0];
f.action = f.action + order_sheet.value;
}
</script>
{%endblock%}
{%block about_this_page %}
<h1>Hello RTP Staff!</h1>
<p>
  This is the Staff Page.  From here you can view or edit anything in the system.  Also, check out the <a href="{% url room.views.Scoreboard %}">Scoreboard</a>.
</p>
<p>
  To create or change orders: <a href="{% url room.views.SiteList %}">View the list of Sites</a>, and choose the site from there.
</p>
{% endblock %}
{%block body%}

<table class="layout">
  <tr>
    <td>
      <div class="panel">
      <h2>Sites</h2>
      <p>Enter a site number like 
	<a href="{% url room.views.SiteListByNumber test_site_number %}">
	{{ test_site_number }}
	</a>
	<form action="{% url room.views.SiteJump %}" method="GET">
	  Site Number: 
	  <input type="text" name="number" size="10">
	  <input type="submit" name="site_jump" value="Jump to Site">
	</form>
      </p>
	<a href="{% url room.views.SiteList %}">View a list</a> 
	of all Sites.
	<br>
	<a href="{% url room.views.SiteNew %}">Add a new Site</a>.
      </div>

      <div class="panel">
      <h2>Captains</h2>
	<a href="{% url room.views.CaptainList %}">View a list</a> 
	of all Captains.
	<br>
	<a href="{% url room.views.CaptainNew %}">Add a new Captain</a>
	.
      </div>

      <div class="panel">
      <h2>Staff</h2>
	<a href="{% url room.views.StaffList %}">View a list</a> 
	of all Staff.
	<br>
	<a href="{% url room.views.StaffNew %}">Add a new Staff</a>
	.
      </div>

      <div class="panel">
      <h2>Suppliers</h2>
	<a href="{% url room.views.SupplierList %}">View a list</a> 
	of all Suppliers.
	<br>
	<a href="{% url room.views.SupplierNew %}">Add a new Supplier</a>
	.
      </div>

      
    </td><td class="layout">
      <div class="panel">
      <h2>Email Captains</h2>
      <form method="GET" action="{% url room.views.SitesWithoutOrder %}" 
	    onsubmit="SetOrderListAction(this)">
	To email captains of sites that have not placed a specific type of 
	order, select the order type
	<br>
      <select class="order_sheet">
      {% for os in order_sheets %}      
      <option value="{{ os.key.id }}">
	{{ os.name }}
      </option>
      {% endfor %}
      </select>
      <br>
      ... then click 
      <input type="submit" value="Compose Email">
      </form>
      <p>
	<a href="http://groups.google.com/group/rebuildingtogethercaptain">
	  Click here
	</a>
	to view the email archive 
	(new messages may take a few minutes to appear).
	</p>
      </div>

      <div class="panel">
      <h2>Orders</h2>
      <form method="GET" action="{% url room.order.OrderList %}" 
	    onsubmit="SetOrderListAction(this)">
	To view a list of Orders, select Order Form(s):
	<br>
      <select class="order_sheet">
	<option value="">All Order Forms</option>
      {% for os in order_sheets %}      
      <option value="{{ os.key.id }}">
	{{ os.name }}
      </option>
      {% endfor %}
      </select>
      <br>
      ... then click 
      <input type="submit" value="List Orders">
      </form>
      </div>

      <div class="panel">
      <h2>Order Forms</h2>
      <a href="{% url room.views.OrderSheetList %}">View a list</a> 
      of all Order Forms.
      <br>
      <a href="{% url room.views.OrderSheetNew %}">Add a new Order Form</a>.
      </div>

      <div class="panel">
      <h2>Items</h2>
      <a href="{% url room.views.ItemList %}">View a list</a> 
      of all Items.
      <br>
      <a href="{% url room.views.ItemNew %}">Add a new Item</a> 
      </div>
    </td>
  </tr>
</table>

<p>Contact Luke if you need to delete something, there's a way to do it in the back end.
</p>



{%endblock%}
