<h2>
 Staff Time Entry # {{ entity.key.integer_id()}} 
  for Site {{ entity.site.get().number }}
</h2>
<hr>
<table cellpadding=5><tr>
<tr>
  <td>Click to Edit</td>
  <td>
    <a name="{{ entity.key.integer_id() }}"
       href="{{ webapp2.uri_for("StaffTime", site_id=entity.site.integer_id(), id=entity.key.integer_id()) }}">
      {{entity.key.integer_id()|escape}}
    </a>
  </td>
</tr>
<tr><td>Site</td>
  <td>
    <a href="{{ webapp2.uri_for("SiteView", id=entity.site.integer_id()) }}">
      {{ entity.site.get().number|escape }}
    </a>
  </td>
</tr>
<tr>
  <td>
    Staff Position
  </td>
  <td>
    {{ entity.position.get().position_name }}
  </td>
</tr>
<tr>
  <td>
    Hours
  </td>
  <td>
    {{ "%0.2f" % entity.hours }}
  </td>
</tr>
<tr>
  <td>
    Miles
  </td>
  <td>
    {{ "%0.2f" % entity.miles }}
  </td>
</tr>
<tr>
  <td>
    Total
  </td>
  <td>
    ${{ "%0.2f" % entity.Total() }}
  </td>
</tr>
<tr>
  <td>
    Activity Date
  </td>
  <td>
    {{ entity.activity_date|escape }}
  </td>
</tr>
<tr>
  <td>
    Description
  </td>
  <td>
    {{ entity.description|escape|replace('\n', '<br>\n') }}
  </td>
</tr>
<tr>
  <td>
    Last Modified
  </td>
  <td>
    {{ entity.modified }}
  </td>
</tr>
<tr>
  <td>
    Modified By
  </td>
  <td>
    {{ entity.last_editor|escape }}
  </td>
</tr>
</table>
