{%extends "base.html"%}
{% block script %}
{% include "tablesorter_script.html" %}
<script type="text/javascript">
$(document).ready(function(){
  $("table.tablesorter").tablesorter();
});
</script>
{%endblock%}
{% block breadcrumb %}
  | List Suppliers
{% endblock %}
{%block about_this_page%}
<h2>List of Suppliers</h2>
<p>
  <a href="{{ webapp2.uri_for('Supplier', id='') }}" alt="new supplier">Add a new Supplier</a>
</p>
{%endblock%}
{%block body%}
<table class="list tablesorter">
  <thead>
    <tr>
      <th>Active</th>
      <th>Visibility</th>
      <th>Supplier</th>
      <th>Email</th>
      <th>Address</th>
      <th>Phone 1</th>
      <th>Phone 2</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in entries %}
    <tr><td>
	{{ entry.active|escape }}
      </td><td>
	{{ entry.visibility|escape }}
      </td><td>
	<span class="sortorder">{{ entry.name }}</span>
	<a href="{{ webapp2.uri_for('Supplier', id=entry.key.integer_id()) }}">
	  {{entry.name|escape}}
	</a>
      </td><td>
	{{ entry.email|escape }}
      </td><td>
	{{ entry.address|escape }}
      </td><td>
	{{ entry.phone1|escape }}
      </td><td>
	{{ entry.phone2|escape }}
      </td><td>
	{{ entry.notes|escape }}{# TODO: was linebreaksbr #}
    </td></tr>
    {% endfor %}
  </tbody>
</table>

{%endblock%}
