{%extends "base.html"%}
{% block script %}
{% include "tablesorter_script.html" %}
<script type="text/javascript">
$(document).ready(function(){
  $("#supplier_list").tablesorter();
});
</script>
{%endblock%}
{% block breadcrumb %}
  | List Suppliers
{% endblock %}
{%block body%}
<h2>All Suppliers</h2>

<table class="list tablesorter" id="supplier_list">
  <thead>
    <tr>
      <th>Supplier</th>
      <th>Email</th>
      <th>Address</th>
      <th>Phone 1</th>
      <th>Phone 2</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    {% for person in entries %}
    <tr><td>
	<a href="{%url room.views.SupplierEdit person.key.id%}">
	  {{person.name|escape}}
	</a>
      </td><td>
	{{ person.email|escape }}
      </td><td>
	{{ person.address|escape }}
      </td><td>
	{{ person.phone1|escape }}
      </td><td>
	{{ person.phone2|escape }}
      </td><td>
	{{ person.notes|escape|linebreaksbr }}
    </td></tr>
    {% endfor %}
  </tbody>
</table>

<form action="{%url room.views.SupplierNew %}"><input type=submit value="Add a new Supplier"></form>

{%endblock%}
