{%extends "base.html"%}
{% block script %}
{% include "tablesorter_script.html" %}
<script type="text/javascript">
$(document).ready(function(){
  $("#supplier_list").tablesorter();
});
</script>
{%endblock%}
{% block breadcrumb %}
  | List Suppliers
{% endblock %}
{%block body%}
<h2>All Suppliers</h2>

<table class="list tablesorter" id="supplier_list">
  <thead>
    <tr>
      <th>Active</th>
      <th>Visibility</th>
      <th>Supplier</th>
      <th>Email</th>
      <th>Address</th>
      <th>Phone 1</th>
      <th>Phone 2</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    {% for person in entries %}
    <tr><td>
	{{ person.active|escape }}
      </td><td>
	{{ person.visibility|escape }}
      </td><td>
	<span class="sortorder">{{ person.name }}</span>
	<a href="{{ webapp2.uri_for('SupplierEdit', supplier_id=person.key.integer_id()) }}">
	  {{person.name|escape}}
	</a>
      </td><td>
	{{ person.email|escape }}
      </td><td>
	{{ person.address|escape }}
      </td><td>
	{{ person.phone1|escape }}
      </td><td>
	{{ person.phone2|escape }}
      </td><td>
	{{ person.notes|escape }}{# TODO: was linebreaksbr #}
    </td></tr>
    {% endfor %}
  </tbody>
</table>

<form action="{{ webapp2.uri_for('SupplierNew') }}"><input type=submit value="Add a new Supplier"></form>

{%endblock%}
