<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>Rebuilding Together, Peninsula - ROOM System</title>
    <link type="text/css" rel="stylesheet" href="/static/styles.css">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="1093814363166-dp6d5juof62nf0siaja08fabqsh8ber3.apps.googleusercontent.com">
    <script type="text/javascript" src="js/lib/require.js"></script>
<!--    <script src="https://apis.google.com/js/platform.js" async defer></script>  -->
    <script>
function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
}
    </script>
  </head>
  <body>
    <table>
      <tr>
	<td>
	  <a href="http://www.rebuildingtogetherpeninsula.org">
	  <img src="/static/rtplogosm.gif" alt="RTP logo" 
	       width="208" height="126">
	  </a>
	</td>
	<td class="about_this_page">
	  <h1>Welcome to ROOMS</h1>
	  <h2>RTP Online Order Management System</h2>
	</td>
      </tr>
    </table>

    <div id="login_div">
      If you have a ROOMS account, log in now.
      <br>
      <div id="signed-in-container">
        <p>checking whether you're sighed in ...</p>
      </div>

      {% if user %}
      <br>You're logged in as <b>{{ user.email }}</b> 
      <br>but this email is not 
      associated with a ROOMS account.
      {% endif %}
      <br>
      Please contact RTP Staff if you are a Captain 
      <br>
      but you don't yet have an account.
      {% if user %}
      <br>
      <a href="{{ logout_url }}">
	Click here
      </a>
      to log in with a different account.
      {% endif %}
    </div>
    <p class="announcement">
      This is the online order system for <a href="http://www.rebuildingtogetherpeninsula.org">Rebuilding Together Peninsula</a>.   It enables ordering materials and services from forms that are similar to some of the ones in the Captain's Binder.  ROOMS keeps Captains up to date with their order status and helps RTP Staff to expedite the order fulfillment process.  
    </p>

    <h3>New Captains - Getting Started</h3>
    {# include "templates/tutorials.html" #}

  <script type="text/javascript" src="js/app/main.js"></script>
  </body>
</html>

