<h2>Create a new Order for Site #<%= site.get('number') %>
</h2>
<p>
  Placing an order is a three step process.
</p>

<ol class="new-order-steps">
  <li>(this page) Choose which order form to use.
    There are different items on each form.  The full list of items in each form is here TODO.
  </li>
  <li>
    Enter the quantities for items, and optionally add notes for the staff.
  </li>
  <li>
    Enter desired logistics, including delivery, pickup, borrow and return
    or drop-off and retrieval as appropriate.
  </li>
</ol>

<h3>Choose an order form from the list below.</h3>

<div class="order-form-buttons" id="order-form-buttons-everyone"></div>
<div class="order-form-buttons" id="order-form-buttons-staff">
  <h3>Staff Only</h3>
</div>


