<% if (order_existing && order_existing.length > 0) { %>
<h3><%= order_existing.length %> existing orders for <%= order_form.name %> Order Form</h3>
  You may change an order in the "Received" state rather than creating a new order.
  <% for (oe of order_existing.models) { %>
  <p>
    <% if (oe.id) { %>
    <a href="<%= oe.id %>" alt="order modified <%= oe.get('modified_ago') %> ago">change</a>
    <% } else { %>
    Locked
    <% } %>
    | <%= oe.get('state') %> | <%= oe.get('notes') %></p>
  <% } %>
<% } %>
<table>
  <tbody><tr>
      <td class="layout">
        <table class="order_form_header">
          <tbody><tr>
              <td colspan="20" class="order_form_section_header">
                <%= order_form.name %> Order Form
              </td>
            </tr>
            <tr>
              <td colspan="20">
                <span class="attr">
                  <b>
                    Site #<%= site.get('number') %>
                  </b>
                </span>
                <span class="attr">
                  <b>
                    841 Kaynyne Street
                  </b>
                </span>
                <span class="attr">
                  <b>
                    Redwood City CA 94063
                  </b>
                </span>
                <br>
                <% if (order.has('id')) { %>
                <span class="attr">
                  Order ID #
                  <%= order.get('id') %>
                </span>
                <span class="attr">
                  State: <%= order.get('state') %>
                </span>
                <br>
                <% } else { %>
                <span class="attr">
                  New Order
                </span>
                <br>
                <% } %>
              </td>
            </tr>

            <tr>
              <td class="order_form_section_header">
                Instructions to Captains
              </td>
            </tr>
            <tr>
              <td>
                <p><%= order_form.instructions %></p>
              </td>
            </tr>
            <tr>
              <td class="order_form_section_header">
                Captains' Notes
              </td>
            </tr>
            <tr>
              <td>
                <textarea id="id_notes" rows="5" cols="120" name="notes"><%= order.get('notes') %></textarea>
              </td>
            </tr>
        </tbody></table>
      </td>
    </tr>
    <tr>
      <td>
        <% if (items) { %>
        <table class="order_item_list">

          <tbody><tr>
              <th>
              </th>
              <th>
                Items
              </th>
              <th>
                Unit Cost ($)
              </th>
              <th>
              </th>
              <th>
                Quantity
              </th>
              <th>
                Total ($)
              </th>
            </tr>
            <%               
               var prev_section = "";
               for (item of items) {
                 if (item.visible_section !== prev_section) { %>
            <tr>
              <td class="order_form_section_header" colspan="20">
                <b><%= item.visible_section %></b>
              </td>
            </tr>
            <%   }
                 prev_section = item.visible_section; %>
            <tr>
              <td class="listpic">
                TODO pic
              </td>
              <td>
                <b><%= item.visible_name %></b>
                <%= item.description %>
              </td>
              <td class="dollar">
                <%= item.unit_cost %>
              </td>
              <td class="measure">
                <%= item.measure %>
              </td>
              <td class="quantity">
                <input type="text" class="item-quantity" name="<%- item.id %>"
                       value="<%- quantityForItem(item, order_items) %>" size="5">
                =
                
              </td>
              <td class="dollar">
                <span class="item-total">
                  <%= totalForItem(item, order_items) %>
                </span>
              </td>
            </tr>
            <% } %>

            <tr>
              <td>
              </td>
              <td colspan="4" class="form-summary subtotal">
                Subtotal

                (does not include 9.25% sales tax)

              </td>
              <td class="dollar subtotal">
                <span id="sub_total">
                  <%= subtotal() %>
                </span>
              </td>
            </tr>

        </tbody></table>
        <% } else { %>
        <h3>This form has no items</h3>
        <% } %>
      </td>
    </tr>
    <tr>
      <td>
        <% if (order_form.delivery_options != 'Yes' &&
               order_form.pickup_options != 'Yes' &&
               order_form.retrieval_options != 'Yes') { %>
        No logistics for this type of order. 
        <button id="order-proceed-no-logistics">Save</button>
        <span class="status"></span>
        <% } else { %>
        Next, set up logistics: 
        <% if (order_form.delivery_options == 'Yes') { %>
        <button id="order-proceed-delivery">Proceed to Delivery Options</button>
        <% } %>
        <% if (order_form.pickup_options == 'Yes') { %>
        <button id="order-proceed-pickup">Proceed to Pickup Options</button>
        <% } %>
        <% if (order_form.retrieval_options == 'Yes') { %>
        <button id="order-proceed-retrieval">Proceed to Retrieval Options</button>
        <% } %>
        <% } %>
      </td>
    </tr>
</tbody></table>


