{%extends "base.html"%}
{%block script%}
<script
   type="text/javascript" 
   src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js">
</script>
{% include "tablesorter_script.html" %}
<script type="text/javascript">
$(function() {
  $("table.tablesorter").tablesorter({
    sortList: [[1, 1], [2, 0], [3, 0]],
    headers: { 0: { sorter: false }}
  });
  $("#select_all").change(
    function() {
      var newval = $("#select_all").attr('checked');
      $(".captain").attr('checked', newval);
    }
  );
});
</script>
{%endblock%}
{%block breadcrumb%}
{%endblock%}
{%block about_this_page %}
<h1>Sites without any {{ order_sheet.name }} order</h1>
<p>
{{ num_sites_without_order }} of {{ num_sites }} 
sites have no {{ order_sheet.name }} order.
</p>
{% endblock %}
{%block body%}

<form 
   method="POST" 
   action="{% url room.staff.SitesWithoutOrderSendEmail order_sheet.key.id_or_name %}">
<div class="left">
Select one or more captains
<br>
<table class="tablesorter">
  <thead>
    <tr>
      <th>
        <input type="checkbox" id="select_all">
      </th>
      <th>
        CDBG?
      </th>
      <th>
        Site
      </th>
      <th>
        Captain
      </th>
    </tr>
  </thead>
  <tbody>
    {% for site in sites %}
    {% for sc in site.sitecaptain_set %}
    <tr>
      <td>
        <input type="checkbox" class="captain"
               id="{{sc.captain.key.id_or_name}}" 
               name="site_captain" 
               value="{{ site.key.id_or_name }} {{sc.captain.key.id_or_name}}" >
        <label for="{{sc.captain.key.id_or_name}}">
      </td>
      <td>
        {% if site.IsCDBG %}CDBG{% endif %}
      </td>
      <td>
        {{ site.number }} 
      </td>
      <td>
        {{ sc.captain.name }} ({{ sc.type }})
      </td>
    </tr>
    {% endfor %}
    {% endfor %}
  </tbody>
</table>
</div>
<div class="right">
From: 
<br>
<select name="staff">
{% for s in staff %}
<option value="{{ s.key.id }}"
  {% ifequal s.email user.staff.email%}
  selected
  {% endifequal %} 
>
{{ s.name }} &lt;{{ s.email }}&gt;
</option>
{% endfor %}
</select>
<br>
CC: (comma separated)
<br>
<input type="text" name="cc" length="1000" size="70"></input>
<br>
(will also CC the <a href="EMAIL_LOG_LINK">{{ EMAIL_LOG }} archive</a>)
<br>
Subject:
<br>
<input name="subject" size="70" type="text" value="About your {{ order_sheet.name }} order in ROOMS">
<br>
Body:
<br>
<textarea name="body" cols="80" rows="20">
</textarea>
<br>
<input type="submit" name="submit" value="Send email">
</div>
</form>
{%endblock%}
